<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMIS</title>

    <!-- css -->
    <link rel="stylesheet" href="../../STATIC/css/table.min.css">
    <link rel="stylesheet" href="../../STATIC/themify/icons/themify-icons.css">

    <link rel="stylesheet" href="../../STATIC/css/styles.css">
    <link rel="stylesheet" href="../../STATIC/css/components.css">
    <link rel="stylesheet" href="../../STATIC/css/utils.css">
    <link rel="stylesheet" href="../../STATIC/icons/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- js -->
    <script src="../../STATIC/js/jquery-3.5.1.js"></script>
    <script src="../../STATIC/js/jquery.dataTables.min.js"></script>

    <script src="../../STATIC/js/scripts.js"></script>

    <style>
      #prescription table input {
        inline-size: 160px;
      }
    </style>
</head>
<body>
  <header class="departments">
    <a href="../patients/index.html" class="department">
        <img src="../../STATIC/icons/create-patient.png" alt="">
        <span class="department-name">Patients</span>
    </a>
    <a href="../patients/visits.html" class="department">
        <img src="../../STATIC/icons/visits.svg" alt="">
        <span class="department-name">Visits</span>
    </a>
    <a href="../patients/triage.html" class="department">
        <img src="../../STATIC/icons/triage.png" alt="">
        <span class="department-name">Triage</span>
    </a>
    <a href="../cashier/index.html" class="department">
      <img src="../../STATIC/icons/cashier.png" alt="">
      <span class="department-name">Cashier</span>
    </a>
    <a href="../doctor/index.html" class="department">
        <img src="../../STATIC/icons/doctor.png" alt="">
        <span class="department-name">Doctor</span>
    </a>
    <a href="../doctor/laboratory.html" class="department">
      <img src="../../STATIC/icons/lab.png" alt="">
      <span class="department-name">Laboratory</span>
    </a>
    <a href="../cardiology/index.html" class="department">
        <img src="../../STATIC/icons/cardiology.png" alt="">
        <span class="department-name">Cardiology</span>
    </a>
    <a href="../radiology/index.html" class="department">
        <img src="../../STATIC/icons/radiology.png" alt="">
        <span class="department-name">Radiology</span>
    </a>
    <a href="../pharmacy/index.html" class="department">
        <img src="../../STATIC/icons/pharmacy.png" alt="">
        <span class="department-name">Pharmacy</span>
    </a>
    <a href="../admin/inventory.html" class="department">
        <img src="../../STATIC/icons/inventory.png" alt="">
        <span class="department-name">Inventory</span>
    </a>
    <a href="../theatre/index.html" class="department active">
        <img src="../../STATIC/icons/theatre.png" alt="">
        <span class="department-name">Theatre</span>
    </a>
    <a href="../doctor/dental.html" class="department">
        <img src="../../STATIC/icons/dental.png" alt="">
        <span class="department-name">Dental</span>
    </a>
    <a href="../patients/appointments.html" class="department">
        <img src="../../STATIC/icons/appointment.png" alt="">
        <span class="department-name">Appointments</span>
    </a>
    <a href="../admin/invoices.html" class="department">
        <img src="../../STATIC/icons/invoices.png" alt="">
        <span class="department-name">Invoices</span>
    </a>
    <a href="../admin/finances.html" class="department">
        <img src="../../STATIC/icons/finances.png" alt="">
        <span class="department-name">Finances</span>
    </a>
    <a href="../admin/insurance.html" class="department">
      <img src="../../STATIC/icons/insurance.png" alt="">
      <span class="department-name">Insurance</span>
  </a>
  <a href="../admin/pricing.html" class="department">
    <img src="../../STATIC/icons/insurance.png" alt="">
    <span class="department-name">Pricing</span>
  </a>
    <a href="../admin/index.html" class="department">
      <img src="../../STATIC/icons/finances.png" alt="">
      <span class="department-name">Admin</span>
    </a>
  </header>
    <main>
        <aside class="sidebar-cta-section">
            <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section">
                <button class="accented section-togglers" data-section="assigned_patients" id="assigned_patients_toggler">Assigned Patients</button>
                <button class="accented section-togglers" data-section="theatre" id="theatre_toggler">Theatre</button>
            </div>
            <section class="variable-section inview" id="assigned_patients">
              <div class="records-part" id="recent-patients">
                <div class="body">
                  <table id="data-table" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Visit</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FLH230300</td>
                            <td>John Mukama Blue</td>
                            <td>M</td>
                            <td>25</td>
                            <td>No</td>
                            <td>08:30</td>
                        </tr>
                        <tr>
                            <td>FLH230385</td>
                            <td>Grace Sasira Lusuku</td>
                            <td>F</td>
                            <td>47</td>
                            <td>Yes</td>
                            <td>10:54</td>
                        </tr>
                        <tr>
                            <td>FLH230326</td>
                            <td>Mohamed Baker L.</td>
                            <td>M</td>
                            <td>21</td>
                            <td>No</td>
                            <td>10:53</td>
                        </tr>
                        <tr>
                            <td>FLH230301</td>
                            <td>Phillip Naturinda M.</td>
                            <td>M</td>
                            <td>35</td>
                            <td>No</td>
                            <td>10:59</td>
                        </tr>
                        <tr>
                          <td>FLH230311</td>
                          <td>Deodat Aganyira</td>
                          <td>M</td>
                          <td>68</td>
                          <td>No</td>
                          <td>12:02</td>
                      </tr>
                      <tr>
                        <td>FLH230313</td>
                        <td>Joram Bwambale</td>
                        <td>M</td>
                        <td>28</td>
                        <td>No</td>
                        <td>13:15</td>
                      </tr>
                      <tr>
                        <td>FLH230316</td>
                        <td>Matthew Musoke</td>
                        <td>M</td>
                        <td>26</td>
                        <td>No</td>
                        <td>13:42</td>
                      </tr>
                      <tr>
                        <td>FLH230366</td>
                        <td>Juma Kiyinji Moses</td>
                        <td>M</td>
                        <td>43</td>
                        <td>No</td>
                        <td>14:33</td>
                      </tr>
                      <tr>
                        <td>FLH230336</td>
                        <td>Alert Kapallaga</td>
                        <td>M</td>
                        <td>23</td>
                        <td>No</td>
                        <td>14:43</td>
                      </tr>
                      <tr>
                        <td>FLH230361</td>
                        <td>Martin Tukesiga Joel</td>
                        <td>M</td>
                        <td>22</td>
                        <td>No</td>
                        <td>14:36</td>
                      </tr>
                      <tr>
                        <td>FLH230386</td>
                        <td>Jane Nantongo Nakato</td>
                        <td>F</td>
                        <td>24</td>
                        <td>No</td>
                        <td>14:38</td>
                      </tr>
                      <tr>
                        <td>FLH230386</td>
                        <td>Hassan Dahalane</td>
                        <td>M</td>
                        <td>32</td>
                        <td>No</td>
                        <td>14:42</td>
                      </tr>
                      <tr>
                        <td>FLH230377</td>
                        <td>Ssempala Moses</td>
                        <td>M</td>
                        <td>55</td>
                        <td>No</td>
                        <td>14:50</td>
                      </tr>
                      <tr>
                        <td>FLH230656</td>
                        <td>Robert Mulenda Mwiru</td>
                        <td>M</td>
                        <td>26</td>
                        <td>No</td>
                        <td>15:08</td>
                      </tr>
                      <tr>
                        <td>FLH230116</td>
                        <td>Johnson Orone Nathan</td>
                        <td>M</td>
                        <td>20</td>
                        <td>No</td>
                        <td>15:15</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Visit</th>
                        <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
            </div>  
            </section>
            <section class="variable-section" id="theatre">
                <div class="section-form">
                  <form action="">
                    <div class="modal-section">
                      <div class="section-label">
                        <small>Procedure details</small>
                      </div>
                      <div class="section-content">
                        <div class="section-content-row grid flex-gap-40">
                          <div class="form-control flex flex-column">
                            <label for="">Type of surgery</label>
                            <input class="input" type="text" />
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Location on body</label>
                            <input class="input" type="text" />
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Considerations</label>
                            <input class="input" type="text" />
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Requirements</label>
                            <input class="input" type="text" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-section">
                      <div class="section-label">
                        <small>Anaesthesia requirements</small>
                      </div>
                      <div class="section-content">
                        <div class="section-content-row flex">
                          <div class="form-control flex flex-column">
                            <div class="form-control flex flex-column" style="inline-size: 100%">
                              <label for="">Fill the requirements, either general or local for the procedure</label>
                              <textarea class="input" cols="100%" rows="2"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-section">
                      <div class="section-label">
                        <small>Surgeon & support staff</small>
                      </div>
                      <div class="section-content">
                        <div class="section-content-row grid flex-gap-40">
                          <div class="form-control flex flex-column">
                            <label for="">Surgeon</label>
                            <select name="fullname" class="input">
                              <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                              <option value="Mugisa Phillip">Dr. Mugisa Phillip</option>
                              <option value="Barbra B">Dr. Barbra B</option>
                              <option value="Peter P">Dr. Peter S</option>
                              <option value="Mulondo Caxton">Dr. Mulondo Caxton</option>
                              <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                            </select>
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Anaesthesist</label>
                            <select name="fullname" class="input">
                              <option value="Barbra B">Barbra B</option>
                              <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                              <option value="Mugisa Phillip">Dr. Mugisa Phillip</option>
                              <option value="Peter P">Dr. Peter S</option>
                              <option value="Mulondo Caxton">Dr. Mulondo Caxton</option>
                              <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                            </select>
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Nurse 01</label>
                            <select name="fullname" class="input">
                              <option value="Mugisa Phillip">Mugisa Phillip</option>
                              <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                              <option value="Barbra B">Dr. Barbra B</option>
                              <option value="Peter P">Dr. Peter S</option>
                              <option value="Mulondo Caxton">Dr. Mulondo Caxton</option>
                              <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                            </select>
                          </div>
                          <div class="form-control flex flex-column">
                            <label for="">Nurse 02</label>
                            <select name="fullname" class="input">
                              <option value="Mulondo Caxton">Mulondo Caxton</option>
                              <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                              <option value="Mugisa Phillip">Dr. Mugisa Phillip</option>
                              <option value="Barbra B">Dr. Barbra B</option>
                              <option value="Peter P">Dr. Peter S</option>
                              <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-section">
                      <div class="section-label">
                        <small>Date & Time</small>
                      </div>
                      <div class="section-content">
                        <form action="">
                          <div class="section-content-row flex flex-gap-40">
                            <div class="form-control flex flex-column">
                              <label for="">Date</label>
                              <input class="input" type="date" />
                            </div>
                            <div class="form-control flex flex-column">
                              <label for="">Time</label>
                              <input class="input" type="time" />
                            </div>
                            <div class="form-control flex flex-column">
                            </div>
                            <div class="form-control flex flex-column">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="modal-section cta-area">
                      <button class="accented section-form-cta accented">Save</button>
                    </div>
                </div>
            </section>
        </section>
        <aside class="preview-area" id="patient-preview">
            <div class="img-wrapper">
                <img src="../../STATIC/images/user.png" alt="">
            </div>
            <div class="details">
                <div class="detail-group">
                    <p class="part-title">Patient No.:</p>
                    <p class="part-content">67834</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">First Name:</p>
                    <p class="part-content">Alex</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">Last No.:</p>
                    <p class="part-content">Muhumuza</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">NIN:</p>
                    <p class="part-content">CM2REK234423MFC</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">Phone No:</p>
                    <p class="part-content">+256728463968</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">Birth Place:</p>
                    <p class="part-content">Wakiso</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">Gender:</p>
                    <p class="part-content">Male</p>
                </div>
                <div class="detail-group">
                    <p class="part-title">Age:</p>
                    <p class="part-content">24</p>
                </div>
            </div>
            <div class="cta_area">
                <button  class="modal-activators" id="edit_patient_modal_activator" data-modal="create_patient_modal">Edit Details</button>
                <button class="modal-activators" id="create_visit_modal_activator" data-modal="create_visit_modal">Create Visit</button>
            </div>
        </aside>
    </main>


    <div class="modal" id="create_patient_modal">
        <div class="modal-header">
            <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/add.png" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">Register Patient</h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-section">
            <div class="section-label">
                <small>Personal Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">First Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Middle Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <div class="patient-image flex">
                        <img src="../../STATIC/images/user.png" alt="" />
                    </div>
                    </div>
                </div>
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">National ID No.</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex" style="gap: 20px">
                    <div class="flex flex-column" style="flex: 1">
                        <label for="">Age</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="flex flex-column" style="flex: 2">
                        <label for="">Date of Birth</label>
                        <input class="input" type="date" />
                    </div>
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="gender" class="input">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Patient ID</label>
                    <input class="input" type="text" value="MEDT00001" disabled />
                    </div>
                </div>
                </form>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Contact Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                      <label for="">Phone Number</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Alternative</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Email Address</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Home Address</label>
                      <input class="input" type="text" />
                    </div>
                </div>
                </form>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Next of Kin</small>
            </div>
            <div class="section-content">
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                      <label for="">First Name</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Middle Name</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Last Name</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Relationship</label>
                      <select name="relationship" class="input">
                          <option value="husband">Husband</option>
                          <option value="wife">Wife</option>
                          <option value="brother">Brother</option>
                          <option value="sister">Sister</option>
                          <option value="son">Son</option>
                          <option value="daughter">Daughter</option>
                      </select>
                    </div>
                </div>
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                      <label for="">Phone Number</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Alternative</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Home Address</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column" style="visibility: hidden"></div>
                </div>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Billing Method</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="section-content-row flex">
                    <div class="form-control flex flex-column">
                    <label for="">Select Option</label>
                    <select name="billing" class="input" style="inline-size: 23% !important">
                        <option value="cash">Cash</option>
                        <option value="account">Account</option>
                        <option value="insurance">Insurance</option>
                    </select>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
            </div>
        </div>
    </div>

    <div class="modal" id="create_visit_modal">
        <div class="modal-header">
          <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/visits.svg" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">Create Visit</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="modal-section">
            <div class="section-label">
              <small>Patient Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">First Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Middle Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <div class="patient-image flex">
                      <img src="../../STATIC/images/user.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">National ID No.</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex" style="gap: 20px">
                    <div class="flex flex-column" style="flex: 1">
                      <label for="">Age</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="flex flex-column" style="flex: 2">
                      <label for="">Date of Birth</label>
                      <input class="input" type="date" />
                    </div>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="gender" class="input">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Patient ID</label>
                    <input class="input" type="text" value="MEDT00001" disabled />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Doctor Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">Full Name</label>
                    <select name="fullname" class="input">
                      <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                      <option value="Mugisa Phillip">Dr. Mugisa Phillip</option>
                      <option value="Lorika Mario">Dr. Lorika Mario</option>
                      <option value="Barbra B">Dr. Barbra B</option>
                      <option value="Peter P">Dr. Peter P</option>
                      <option value="Mulondo Caxton">Dr. Mulondo Caxton</option>
                      <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Doctor ID</label>
                    <input class="input" type="text" value="MEDZ12001" disabled />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Speciality</label>
                    <select name="speciality" class="input">
                      <option value="general">General</option>
                      <option value="padeatrics">Paedeatrics</option>
                      <option value="gynacology">Gynacology</option>
                      <option value="dentist">Dentist</option>
                      <option value="radiology">Radiology</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Home Address</label>
                    <input class="input" type="text" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Visit Time</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">Date</label>
                    <input class="input" type="date" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Time</label>
                    <input class="input" type="time" />
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Relationship</label>
                    <select name="relationship" class="input">
                      <option value="husband">Husband</option>
                      <option value="wife">Wife</option>
                      <option value="brother">Brother</option>
                      <option value="sister">Sister</option>
                      <option value="son">Son</option>
                      <option value="daughter">Daughter</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Other Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex">
                  <div class="form-control flex flex-column">
                    <div class="form-control flex flex-column" style="inline-size: 100%">
                      <label for="">Visit Reason</label>
                      <textarea class="input" cols="100%" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
          </div>
        </div>
    </div>
</body>


<script src="../../STATIC/js/modals.js"></script>

<script>
  // Clear patient on preview
  const clearPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = "";
    previewArea.innerHTML = previewContent;

  }
  // On page load, clear preview
  clearPatientOnPreview();

  // Load patient on preview
  const loadPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = `
    <div class="img-wrapper">
        <img src="../../STATIC/images/user.png" alt="">
    </div>
    <div class="details">
        <div class="detail-group">
            <p class="part-title">Patient No.:</p>
            <p class="part-content">${patient.id}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">First Name:</p>
            <p class="part-content">${patient.name}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Last No.:</p>
            <p class="part-content">Muhumuza</p>
        </div>
        <div class="detail-group">
            <p class="part-title">NIN:</p>
            <p class="part-content">CM2REK234423MFC</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Phone No:</p>
            <p class="part-content">+256728463968</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Birth Place:</p>
            <p class="part-content">Wakiso</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Gender:</p>
            <p class="part-content">${patient.gender}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Age:</p>
            <p class="part-content">${patient.age}</p>
        </div>
    </div>
    `;
    previewArea.innerHTML = previewContent;

  }

  // Change patient on prview
  const patientRows = document.querySelector("tbody").querySelectorAll("tr");
  patientRows.forEach(patientRow => patientRow.addEventListener("click", (event) => {
    if(event.target.parentElement.tagName === "TR"){
      const patient = {
        id:event.target.parentElement.querySelectorAll("td")[0].textContent,
        name:event.target.parentElement.querySelectorAll("td")[1].textContent,
        age:event.target.parentElement.querySelectorAll("td")[2].textContent,
        visit:event.target.parentElement.querySelectorAll("td")[3].textContent,
        gender:event.target.parentElement.querySelectorAll("td")[4].textContent
      }
    console.log(patient);
    loadPatientOnPreview(patient);
    }
  }))

  // Set up your table
  let table = $('#data-table').DataTable();


  // Add new diagnosis items
  function createNextRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const deleteButton = document.createElement('button');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const optionPrice = currentRowOptions[i].dataset.price;
      const option = document.createElement('option');
      option.value = optionValue;
      option.dataset.price = optionPrice;
      option.textContent = optionValue;
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const priceInput = this.parentElement.nextElementSibling.querySelector('input');
      const selectedOption = this.options[this.selectedIndex];
      priceInput.value = selectedOption.dataset.price;
      createNextRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for price to new row
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn2.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn2);

    // Add button for deleting row to new row
    deleteButton.textContent = 'Delete';
    deleteButton.onclick = function() {
      tableBody.removeChild(nextRow);
    }
    nextRowColumn3.appendChild(deleteButton);
    nextRow.appendChild(nextRowColumn3);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }
    

  // Add new prescription items
  function createNextPrescriptionRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const nextRowColumn4 = document.createElement('td');
    const nextRowColumn5 = document.createElement('td');
    const nextRowColumn6 = document.createElement('td');
    const nextRowColumn7 = document.createElement('td');
    const nextRowColumn8 = document.createElement('td');
    const nextRowColumn9 = document.createElement('td');
    const nextRowColumn10 = document.createElement('td');
    const nextRowColumn11 = document.createElement('td');
    const nextRowColumn12 = document.createElement('td');
    const deleteButton = document.createElement('button');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const option = document.createElement('option');
      option.value = optionValue;
      option.textContent = optionValue;
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const selectedOption = this.options[this.selectedIndex];
      createNextPrescriptionRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for dosage to new row
    const nextRowDosage = document.createElement('input');
    nextRowDosage.type = 'text';
    // nextRowDosage.readOnly = true;
    nextRowColumn2.appendChild(nextRowDosage);
    nextRow.appendChild(nextRowColumn2);


    // Add input field for duration to new row
    const nextRowDuration = document.createElement('input');
    nextRowDuration.type = 'text';
    // nextRowDuration.readOnly = true;
    nextRowColumn3.appendChild(nextRowDuration);
    nextRow.appendChild(nextRowColumn3);



    // Add input field for quantity of drug
    const nextRowQunatity = document.createElement('input');
    nextRowQunatity.type = 'text';
    // nextRowQunatity.readOnly = true;
    nextRowColumn4.appendChild(nextRowQunatity);
    nextRow.appendChild(nextRowColumn4);


    // Add input field for drug notes
    const nextRowNotes = document.createElement('input');
    nextRowNotes.type = 'text';
    // nextRowNotes.readOnly = true;
    nextRowColumn5.appendChild(nextRowNotes);
    nextRow.appendChild(nextRowColumn5);


    // Add input field for stock left
    const nextRowStockLeft = document.createElement('input');
    nextRowStockLeft.type = 'text';
    // nextRowStockLeft.readOnly = true;
    nextRowColumn6.appendChild(nextRowStockLeft);
    nextRow.appendChild(nextRowColumn6);

    // Add input field for prescribed qty
    const nextRowPrescribedQty = document.createElement('input');
    nextRowPrescribedQty.type = 'text';
    // nextRowPrescribedQty.readOnly = true;
    nextRowColumn7.appendChild(nextRowPrescribedQty);
    nextRow.appendChild(nextRowColumn7);

    // Add input field for measure
    const nextRowMeasure = document.createElement('input');
    nextRowMeasure.type = 'text';
    // nextRowMeasure.readOnly = true;
    nextRowColumn8.appendChild(nextRowMeasure);
    nextRow.appendChild(nextRowColumn8);

    // Add input field for price
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn9.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn9);

    // Add input field for amount
    const nextRowAmount = document.createElement('input');
    nextRowAmount.type = 'text';
    // nextRowAmount.readOnly = true;
    nextRowColumn10.appendChild(nextRowAmount);
    nextRow.appendChild(nextRowColumn10);

    // Add input field for prescribed by
    const nextRowPrescribedBy = document.createElement('input');
    nextRowPrescribedBy.type = 'text';
    // nextRowPrescribedBy.readOnly = true;
    nextRowColumn11.appendChild(nextRowPrescribedBy);
    nextRow.appendChild(nextRowColumn11);

    // Add button for deleting row to new row
    deleteButton.textContent = 'Delete';
    deleteButton.onclick = function() {
      tableBody.removeChild(nextRow);
    }

    nextRowColumn12.appendChild(deleteButton);
    nextRow.appendChild(nextRowColumn12);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }


  // Add new dental items
  function createNextDentalRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const nextRowColumn4 = document.createElement('td');
    const nextRowColumn5 = document.createElement('td');
    const nextRowColumn6 = document.createElement('td');
    const nextRowColumn7 = document.createElement('td');
    const deleteIcon = document.createElement('i');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const option = document.createElement('option');
      option.value = optionValue;
      option.textContent = optionValue;
      nextRowSelect.style.width = "150px";
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const priceInput = this.parentElement.nextElementSibling.querySelector('input');
      const selectedOption = this.options[this.selectedIndex];
      createNextDentalRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for price to new row
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn2.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn2);

    // Add input field for narration to new row
    const nextRowNarration = document.createElement('input');
    nextRowNarration.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn3.appendChild(nextRowNarration);
    nextRow.appendChild(nextRowColumn3);

    // Add input field for narration to new row
    const nextRowNarration2 = document.createElement('input');
    nextRowNarration2.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn5.appendChild(nextRowNarration2);
    nextRow.appendChild(nextRowColumn5);

    // Add input field for narration to new row
    const nextRowNarration3 = document.createElement('input');
    nextRowNarration3.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn6.appendChild(nextRowNarration3);
    nextRow.appendChild(nextRowColumn6);

    // Add input field for narration to new row
    const nextRowNarration4 = document.createElement('input');
    nextRowNarration4.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn7.appendChild(nextRowNarration4);
    nextRow.appendChild(nextRowColumn7);

    // Add button for deleting row to new row
    deleteIcon.classList.add("ti-trash");
    deleteIcon.onclick = function() {
      tableBody.removeChild(nextRow);
    }

    // Add icon for deleting row to new row
    // deleteIcon.classList.add("ti-trash");
    // deleteButton.appendChild(deleteIcon);

    nextRowColumn4.appendChild(deleteIcon);
    nextRow.appendChild(nextRowColumn4);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }
  
  

  // Signout
  const signoutBtn = document.querySelector('.fa-sign-out');

  signoutBtn.addEventListener('click', (event) => {
    window.location.href = "../auth/index.html";
  });
</script>
</html>