{% load static %}

<div class="modal" id="create_patient_modal">
    <div class="modal-header">
        <div class="flex" style="justify-content: flex-start; gap: 10px">
        <img src="{% static 'icons/add.png' %}" alt="" style="inline-size: 28px; block-size: 28px" />
        <h3 style="font-size: 20px" id="modal_title">Patient Details</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-section">
        <div class="section-label">
            <small>Personal Information</small>
        </div>
        <div class="section-content">
            <form action="">
            <div class="flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">First Name</label>
                <input class="input" type="text" id="firstName" />
                </div>
                <div class="form-control flex flex-column">
                <label for="">Middle Name</label>
                <input class="input" type="text" id="middleName"/>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Last Name</label>
                <input class="input" type="text" id="lastName"/>
                </div>
                <div class="form-control flex flex-column">
                <div class="patient-image flex">
                    <img src="{% static 'images/user.png' %}" alt="" />
                </div>
                </div>
            </div>
            <div class="flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">National ID No.</label>
                <input class="input" type="text" id="NIN"/>
                </div>
                <div class="form-control flex" style="gap: 20px">
                <div class="flex flex-column" style="flex: 1">
                    <label for="">Age</label>
                    <input class="input" type="text" id="age"/>
                </div>
                <div class="flex flex-column" style="flex: 2">
                    <label for="">Date of Birth</label>
                    <input class="input" type="date" id="dateOfBirth"/>
                </div>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Gender</label>
                <select name="gender" class="input" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Patient ID</label>
                <input class="input" type="text" disabled id="patient_id"/>
                </div>
            </div>
            </form>
        </div>
        </div>
        <div class="modal-section">
        <div class="section-label">
            <small>Contact Information</small>
        </div>
        <div class="section-content">
            <form action="">
            <div class="section-content-row flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">Phone Number</label>
                <input class="input" type="text" id="phoneNumber"/>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Alternative</label>
                <input class="input" type="text" id="AltNumber"/>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Email Address</label>
                <input class="input" type="text" id="email"/>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Home Address</label>
                <input class="input" type="text" id="address"/>
                </div>
            </div>
            </form>
        </div>
        </div>
        <div class="modal-section">
        <div class="section-label">
            <small>Next of Kin</small>
        </div>
        <div class="section-content">
            <form action="">
            <div class="section-content-row flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">First Name</label>
                <input class="input" type="text" id="NOK_firstName" />
                </div>
                <div class="form-control flex flex-column">
                <label for="">Middle Name</label>
                <input class="input" type="text" id="NOK_middleName" />
                </div>
                <div class="form-control flex flex-column">
                <label for="">Last Name</label>
                <input class="input" type="text" id="NOK_lastName" />
                </div>
                <div class="form-control flex flex-column">
                <label for="">Relationship</label>
                <select name="relationship" class="input" id="NOK_relationship" >
                    <option value="husband">Husband</option>
                    <option value="wife">Wife</option>
                    <option value="brother">Brother</option>
                    <option value="sister">Sister</option>
                    <option value="son">Son</option>
                    <option value="daughter">Daughter</option>
                </select>
                </div>
            </div>
            <div class="section-content-row flex flex-gap-40">
                <div class="form-control flex flex-column">
                    <label for="">National ID No.(NiN)</label>
                    <input class="input" type="text" id="NOK_nin" />
                </div>
                <div class="form-control flex flex-column">
                    <label for="">Phone Number</label>
                    <input class="input" type="text" id="NOK_phoneNumber" />
                </div>
                <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="Next_of_Kin_Gender" class="input" id="NOK_Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-control flex flex-column">
                    <label for="">Home Address</label>
                    <input class="input" type="text" id="NOK_address" />
                </div>
            </div>
            </form>
        </div>
        </div>
        <div class="modal-section">
        <div class="section-label">
            <small>Billing Information</small>
        </div>
        <div class="section-content">
            <form action="">
              <div class="section-content-row flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">Billing Method</label>
                    <select name="method" class="input" id="billing_methods">
                        <option value="cash">Cash</option>
                        <option value="account">Account</option>
                        <option value="insurance">Insurance</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column" id="to_billing_company">
                    <label for="" class=" visibility-hidden to_billing_company">To Billing Company</label>
                    <select name="company" class="input  visibility-hidden to_billing_company">
                        <option value="jubilee">Jubilee Insurance</option>
                        <option value="sanlam">Sanlam Life Insurance Uganda</option>
                        <option value="aig">AIG Uganda Limited</option>
                        <option value="britam">Britam Insurance</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column">
                  </div>
                  <div class="form-control flex flex-column">
                  </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-control">
        <img class="cancel" src="{% static 'icons/cancel.png' %}" alt="" />
        <img class="save" src="{% static 'icons/save.png' %}" alt="" onclick="submitPatientData()" />
        </div>
    </div>
</div>

<script>

    // form submission
    async function submitPatientData () {

        let firstName = document.querySelector("#firstName");
        let middleName = document.querySelector("#middleName");
        let lastName = document.querySelector("#lastName");
        let NIN = document.querySelector("#NIN");
        let age = document.querySelector("#age");
        let dateOfBirth = document.querySelector("#dateOfBirth");
        let gender = document.querySelector("#gender");
        let phoneNumber = document.querySelector("#phoneNumber");
        let AltNumber = document.querySelector("#AltNumber");
        let email = document.querySelector("#email");
        let address = document.querySelector("#address");
        let NOK_firstName = document.querySelector("#NOK_firstName");
        let NOK_middleName = document.querySelector("#NOK_middleName");
        let NOK_lastName = document.querySelector("#NOK_lastName");
        let NOK_relationship = document.querySelector("#NOK_relationship");
        let NOK_nin = document.querySelector("#NOK_nin");
        let NOK_phoneNumber = document.querySelector("#NOK_phoneNumber");
        let NOK_Gender = document.querySelector("#NOK_Gender");
        let NOK_address = document.querySelector("#NOK_address");
        let billing_methods = document.querySelector("#billing_methods");
        let to_billing_company = document.querySelector("#to_billing_company");

        let required_fields = [firstName, lastName, gender, phoneNumber, NIN]
        required_fields.forEach(field => {
            if (field.value == "" || field.value == undefined) {
                field.classList.add("error")
                return
            }
            if (field.classList.contains("error")) {
                field.classList.remove("error")
            }
        })

        if ((age.value == "" || age.value == undefined) && (dateOfBirth.value == "" || dateOfBirth.value == undefined)) {
            age.classList.add("error")
            dateOfBirth.classList.add("error")
            return;
        }
        else {
            if (age.classList.contains("error") || dateOfBirth.classList.contains("error")) {
                age.classList.remove("error")
                dateOfBirth.classList.remove("error")
            }
        }

        // make api call
        let patientData = {
            "firstname" : firstName.value,
            "middlename" : middleName.value,
            "lastname" : lastName.value,
            "nin" : NIN.value,
            "age" : age.value,
            "date_of_birth" : dateOfBirth.value,
            "gender" : gender.value,
            "telnumber" : phoneNumber.value,
            "alttelnumber" : AltNumber.value,
            "email" : email.value,
            "address" : address.value
        }
        let next_of_kin = {
            "firstname" : NOK_firstName.value,
            "middlename" : NOK_middleName.value,
            "lastname" : NOK_lastName.value,
            "relationship" : NOK_relationship.value,
            "telnumber" : NOK_phoneNumber.value,
            "address" : NOK_address.value,
            "nin": NOK_nin.value,
            "gender": NOK_Gender.value
        }


        if (document.querySelector("#create_patient_modal").dataset.action == "edit") {
            let patient_id = document.querySelector("#patient_id").value
            // edit patient
            makeRequest(`/api/patients/${patient_id}/update/`, method="PATCH", data=patientData)
            .then(response => {
            })
            .catch(response => {
                // render error
            })

            // edit next of kin and attach him to patient
            let nok_id = document.querySelector("#NOK_firstName").dataset.nokid
            makeRequest(`/api/nextOfKin/${nok_id}/update/`, method="PATCH", data=next_of_kin)
            .then(response => {
            })
            .catch(response => {
                // render error
            })
            refreshVisitView();
        }
        else { 
            // create patient
            makeRequest("{% url 'app_api:patient_create' %}", method="POST", data=patientData)
            .then(response => {

                if (NOK_firstName.value != "" && NOK_firstName.value != undefined)
                {
                    next_of_kin["patient"] = response["id"]
                    // patient created successfully
                    // create next of kin and attach him to patient
                    makeRequest("{% url 'app_api:patient_create_nok' %}", method="POST", data=next_of_kin)
                    .then(response => {
                        refreshVisitView();
                    })
                    .catch(response => {
                        // render error
                    })
                }
                else {
                    refreshVisitView();
                }

                // handle billing methods
                let billing = {
                    // "billing_methods" : billing_methods.value,
                    // "to_billing_company" : to_billing_company.value
                }

            })
            .catch(response => {
                // render error
            })
        }
    }

    function refreshVisitView() {
        // close modal, refresh table
        document.querySelector("#create_patient_modal .cancel").click();
        refreshView(1)
    }


</script>