{% load static %}

<div class="modal" id="create_visit_modal">
    <div class="modal-header">
      <div class="flex" style="justify-content: flex-start; gap: 10px">
        <img src="{% static 'icons/visits.svg' %}" alt="" style="inline-size: 28px; block-size: 28px" />
        <h3 style="font-size: 20px">Visit Details</h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="modal-section">
        <div class="section-label">
            <small>Personal Information</small>
        </div>
        <div class="section-content">
            <form action="">
            <div class="flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">First Name</label>
                <input class="input" type="text" id="firstName" />
                </div>
                <div class="form-control flex flex-column">
                <label for="">Middle Name</label>
                <input class="input" type="text" id="middleName"/>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Last Name</label>
                <input class="input" type="text" id="lastName"/>
                </div>
                <div class="form-control flex flex-column">
                <div class="patient-image flex">
                    <img src="{% static 'images/user.png' %}" alt="" />
                </div>
                </div>
            </div>
            <div class="flex flex-gap-40">
                <div class="form-control flex flex-column">
                <label for="">National ID No.</label>
                <input class="input" type="text" id="NIN"/>
                </div>
                <div class="form-control flex" style="gap: 20px">
                <div class="flex flex-column" style="flex: 1">
                    <label for="">Age</label>
                    <input class="input" type="text" id="age"/>
                </div>
                <div class="flex flex-column" style="flex: 2">
                    <label for="">Date of Birth</label>
                    <input class="input" type="date" id="dateOfBirth"/>
                </div>
                </div>
                <div class="form-control flex flex-column">
                <label for="">Gender</label>
                <select name="gender" class="input" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                </div>
                <div class="form-control flex flex-column">
                <label for="" id="patient_id_label">Patient ID</label>
                <input class="input" type="text" disabled id="patient_id"/>
                <button class="load_patient_activator" style="padding-block: .5rem; background-color: #1da1f2;color:white;border-radius: 5px;display: none;">Load Patient</button>
                </div>
            </div>
            </form>
        </div>
      </div>
      <div class="modal-section">
        <div class="section-label">
          <small>Visit</small>
        </div>
        <div class="section-content">
          <form action="">
            <div class="section-content-row flex flex-gap-40">
              <div class="form-control flex flex-column">
                <label for="">Visit Date</label>
                <input class="input" type="date" id="visit_date"/>
              </div>
              <div class="form-control flex flex-column">
                <label for="">Category</label>
                <select name="category" class="input" id="visit_category">
                  <option value="consultation">Consultation</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-control flex flex-column">
                <label for="">Doctor Specialty</label>
                <select name="specialty" class="input" id="visit_specialty">
                  {% for speciality in doctor_specialities %}
                    <option value="{{speciality.id}}" data-name="{{speciality}}">{{ speciality }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-control flex flex-column">
                <label for="">To See Doctor</label>
                <select name="fullname" class="input" id="visit_doctor">
                  {% for doctor in doctors %}
                    <option class="doctors_options" value="{{doctor.doctor.id}}" data-speciality="{{doctor.speciality}}">{{ doctor.doctor }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-section">
        <div class="section-label">
          <small>Billing</small>
        </div>
        <div class="section-content">
          <form action="">
            <div class="section-content-row flex flex-gap-40">
              <div class="form-control flex flex-column">
                <label for="">Billing Mode</label>
                <select name="billingMode" class="input">
                  <option value="cash">Cash</option>
                  <option value="account">Account</option>
                  <option value="insurance">Insurance</option>
                </select>
              </div>
              <div class="form-control flex flex-column">
                <label for="">Bill</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column" style="visibility: hidden;">
              </div>
              <div class="form-control flex flex-column" style="visibility: hidden;">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-control">
        <img class="cancel" src="{% static 'icons/cancel.png' %}" alt="" />
        <img onclick="submitVisitData()" class="save" src="{% static 'icons/save.png' %}" alt="" />
      </div>
    </div>
</div>

<script>
    // create_visit_modal = document.querySelector("#create_visit_modal")
    document.addEventListener("DOMContentLoaded", () => {
      let visit_specialty = document.querySelector("#visit_specialty")
      let doctors_options = document.querySelectorAll(".doctors_options")
      visit_specialty.addEventListener("change", () => {
        doctors_options.forEach(elem => {
          elem.style.display = "block";
          
        visit_specialty.querySelectorAll("option").forEach(option => {
          if (option.value === visit_specialty.value) {
            if (elem.dataset.speciality !== option.dataset.name) {
              elem.style.display = 'none'
            }
          }
        })

        })
      })

    })
    // form submission
    async function submitVisitData () {

      let firstname = create_visit_modal.querySelector("#firstName")
      let middlename = create_visit_modal.querySelector("#middleName")
      let lastname = create_visit_modal.querySelector("#lastName")
      let nin = create_visit_modal.querySelector("#NIN")
      let age = create_visit_modal.querySelector("#age")
      let date_of_birth = create_visit_modal.querySelector("#dateOfBirth")
      let gender = create_visit_modal.querySelector("#gender")
      let patient_id = create_visit_modal.querySelector("#patient_id")


      let visit_date = create_visit_modal.querySelector("#visit_date")
      let doctor = create_visit_modal.querySelector("#visit_doctor")
      let speciality = create_visit_modal.querySelector("#visit_specialty")
      let category = create_visit_modal.querySelector("#visit_category")

      let required_fields = [firstname, lastname, gender, nin]
      required_fields.forEach(field => {
          if (field.value == "" || field.value == undefined) {
              field.classList.add("error")
              return
          }
          if (field.classList.contains("error")) {
              field.classList.remove("error")
          }
      })

      if ((age.value == "" || age.value == undefined) && (date_of_birth.value == "" || date_of_birth.value == undefined)) {
          age.classList.add("error")
          date_of_birth.classList.add("error")
          return;
      }
      else {
          if (age.classList.contains("error") || date_of_birth.classList.contains("error")) {
              age.classList.remove("error")
              date_of_birth.classList.remove("error")
          }
      }


      // incase of change in patient data, update it
      let patientData = {
          "firstname" : firstname.value,
          "middlename" : middlename.value,
          "lastname" : lastname.value,
          "nin" : nin.value,
          "age" : age.value,
          "date_of_birth" : date_of_birth.value,
          "gender" : gender.value
      }
      
      // edit patient
      makeRequest(`/api/patients/${patient_id.value}/update/`, method="PATCH", data=patientData)
      .then(response => {
      })
      .catch(response => {
        // render error
      })
      
      
      // create of edit visit
      let visitData = {
          "patient" : create_visit_modal.querySelector("#firstName").dataset.pid,
          "visit_date" : visit_date.value,
          "doctor" : doctor.value,
          "speciality" : speciality.value,
          "category" : category.value,
      }
      let request_method = "POST"
      let url = `{% url 'app_api:visit_create' %}`
      if (document.querySelector("#create_visit_modal").dataset.action == "edit") {
        request_method = "PATCH"
        url = `/api/visits/${create_visit_modal.dataset.visit}/update`
      }

      // edit patient if any change was made
      // TODO: WATCH ALL FIELDS RELATED TO PATIENT DATA
      // IF A CHANGE WAS MADE, THEN THIS REQUEST IS MADE, ELSE REQUEST IS NOT MADE
      makeRequest(url, method=request_method, data=visitData)
      .then(response => {
        refreshPatientView();
      })
      .catch(response => {
        // render error
      })
      
    }

    function refreshPatientView() {
        // close modal, refresh table
        document.querySelector("#create_visit_modal .modal-footer .cancel").click();
        refreshView()
    }
</script>