<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMIS</title>

    <!-- css -->
    <link rel="stylesheet" href="../../STATIC/css/table.min.css">
    <link rel="stylesheet" href="../../STATIC/themify/icons/themify-icons.css">

    <link rel="stylesheet" href="../../STATIC/css/styles.css">
    <link rel="stylesheet" href="../../STATIC/css/components.css">
    <link rel="stylesheet" href="../../STATIC/css/utils.css">
    <link rel="stylesheet" href="../../STATIC/icons/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- js -->
    <script src="../../STATIC/js/jquery-3.5.1.js"></script>
    <script src="../../STATIC/js/jquery.dataTables.min.js"></script>

    <script src="../../STATIC/js/scripts.js"></script>
</head>
<body>
    <header class="departments">
        <a href="../patients/index.html" class="department">
            <img src="../../STATIC/icons/create-patient.png" alt="">
            <span class="department-name">Patients</span>
        </a>
        <a href="../patients/visits.html" class="department">
            <img src="../../STATIC/icons/visits.svg" alt="">
            <span class="department-name">Visits</span>
        </a>
        <a href="../patients/triage.html" class="department">
          <img src="../../STATIC/icons/triage.png" alt="">
          <span class="department-name">Triage</span>
        </a>
        <a href="../doctor/index.html" class="department">
            <img src="../../STATIC/icons/doctor.png" alt="">
            <span class="department-name">Doctor</span>
        </a>
        <a href="" class="department disabled" disabled>
          <img src="../../STATIC/icons/lab.png" alt="">
          <span class="department-name">Laboratory</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/cardiology.png" alt="">
            <span class="department-name">Cardiology</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/radiology.png" alt="">
            <span class="department-name">Radiology</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/pharmacy.png" alt="">
            <span class="department-name">Pharmacy</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/inventory.png" alt="">
            <span class="department-name">Inventory</span>
        </a>
        <a href="../patients/theatre.html" class="department" >
            <img src="../../STATIC/icons/theatre.png" alt="">
            <span class="department-name">Theatre</span>
        </a>
        <a href="../patients/dental.html" class="department" d>
            <img src="../../STATIC/icons/dental.png" alt="">
            <span class="department-name">Dental</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/appointment.png" alt="">
            <span class="department-name">Appointments</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/invoices.png" alt="">
            <span class="department-name">Invoices</span>
        </a>
        <a href="" class="department disabled" disabled>
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Finances</span>
        </a>
        <!-- <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/finances.png" alt="">
            <span class="department-name">Insurance</span>
        </a> -->
        <a href="../admin/index.html" class="department">
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Admin</span>
        </a>
    </header>
    <main class="split">
        <aside class="sidebar-cta-section" style="width: 150px;">
            <!-- <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button> 
            hjfhhf -->
            <ul>
              <li style="border-bottom: 2px;">Patients</li>
              <li>Drugs</li>
              <li>Staff</li>
          </ul>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section">
                <!-- <button class="modal-activators" id="create_visit_modal_activator" data-modal="create_visit_modal">Create Visit</button> -->
                <div class="header">
                  <button class="search_button"><label for="search">Search</label></button>
                  <input type="text" placeholder="type Search">
              </div>
              <div>
                  <div class="below_search">
                      <ul>
                      <li>First Name</li>
                      <li>Last Name</li>
                      <li>Telephone</li>
                  </ul>
                  </div>
      
            </div>
              
            <div class="records-part" id="recent-patients">
              <div class="body">
                <table id="data-table" class="display" style="width:100%;margin-top:.5rem;">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Drug Name</th>
                        <th>Unit cost</th>
                        <th>Disease</th>
                        <th>prescription</th>
                        <th>Total cost</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Visit</th>
                      <th>Created At</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
          </div>             
        </section>
    </main>

</body>


<script src="../../STATIC/js/modals.js"></script>

<script>
  // Clear patient on preview
  const clearPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = "";
    previewArea.innerHTML = previewContent;

  }
  // On page load, clear preview
  clearPatientOnPreview();

  // Load patient on preview
  const loadPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = `
    <div class="img-wrapper">
        <img src="../../STATIC/images/user.png" alt="">
    </div>
    <div class="details">
        <div class="detail-group">
            <p class="part-title">Patient No.:</p>
            <p class="part-content">${patient.id}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">First Name:</p>
            <p class="part-content">${patient.name}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Last No.:</p>
            <p class="part-content">Muhumuza</p>
        </div>
        <div class="detail-group">
            <p class="part-title">NIN:</p>
            <p class="part-content">CM2REK234423MFC</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Phone No:</p>
            <p class="part-content">+256728463968</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Birth Place:</p>
            <p class="part-content">Wakiso</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Gender:</p>
            <p class="part-content">${patient.gender}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Age:</p>
            <p class="part-content">${patient.age}</p>
        </div>
    </div>
    <div class="cta_area">
        <button  class="modal-activators" id="edit_patient_modal_activator" data-modal="create_patient_modal">Edit Detials</button>
        <button class="modal-activators" id="create_visit_modal_activator" data-modal="create_visit_modal">Create Visit</button>
    </div>
    `;
    previewArea.innerHTML = previewContent;

  }

  // Change patient on prview
  const patientRows = document.querySelector("tbody").querySelectorAll("tr");
  patientRows.forEach(patientRow => patientRow.addEventListener("click", (event) => {
    if(event.target.parentElement.tagName === "TR"){
      const patient = {
        id:event.target.parentElement.querySelectorAll("td")[0].textContent,
        name:event.target.parentElement.querySelectorAll("td")[1].textContent,
        age:event.target.parentElement.querySelectorAll("td")[2].textContent,
        visit:event.target.parentElement.querySelectorAll("td")[3].textContent,
        gender:event.target.parentElement.querySelectorAll("td")[4].textContent
      }
    console.log(patient);
    loadPatientOnPreview(patient);
    }
  }))

  // Set up your table
  let table = $('#data-table').DataTable();

  // Signout
  const signoutBtn = document.querySelector('.fa-sign-out');

  signoutBtn.addEventListener('click', (event) => {
    window.location.href = "../auth/index.html";
  });

</script>
</html>
