{% extends '../utils/layout.html' %}
{% load static %}
{% block content %}
    <main>
        <aside class="sidebar-cta-section">
            <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section">
                <button class="modal-activators" id="create_triage_modal_activator" data-modal="create_triage_modal">Create Triage</button>
            </div>
            <div class="records-part" id="recent-patients">
                <div class="body">
                  <table id="triage_table" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient</th>
                            <th>Blood Pressure</th>
                            <th>Heart Rate</th>
                            <th>Respiratory Rate</th>
                            <th>Temperature</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient</th>
                            <th>Blood Pressure</th>
                            <th>Heart Rate</th>
                            <th>Respiratory Rate</th>
                            <th>Temperature</th>
                            <th>Created At</th>
                    </tfoot>
                  </table>
                </div>
            </div>            
        </section>
        <aside class="preview-area" id="triage-preview"></aside>
    </main>
    {% include "./utils/modals/triage_modal.html" %}
    {% include "./utils/modals/load_patient-modal.html" %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          
          
            // Set up your table
            // $(`#${document.querySelector("table").id}`).DataTable();
          
            // Signout
            const signoutBtn = document.querySelector('.fa-sign-out');
          
            signoutBtn.addEventListener('click', (event) => {
              window.location.href = "../auth/index.html";
            });

            // load data
            refreshView(1);
        })

        document.querySelector("#create_triage_modal_activator")
          .addEventListener("click", () => triggerCreateTriageModal(data=false))
    
    
    </script>
{% endblock %}