{% extends '../utils/layout.html' %}
{% load static %}
{% block content %}
    <main class="split">
        <aside class="sidebar-cta-section">
            <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section">
                <button class="modal-activators" id="create_visit_modal_activator" data-modal="create_visit_modal">Create Visit</button>
            </div>
            <div class="records-part" id="recent-patients">
              <div class="body">
                <table id="visitsTable" class="display" style="width:100%;margin-top:.5rem;">
                  <thead>
                      <tr>
                        <th>Patient ID</th>
                        <th>Category</th>
                        <th>Speciality</th>
                        <th>Doctor</th>
                        <th>Complete</th>
                        <th>Visit Date</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Patient ID</th>
                      <th>Category</th>
                      <th>Speciality</th>
                      <th>Doctor</th>
                      <th>Complete</th>
                      <th>Visit Date</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
          </div>             
        </section>
        <aside class="preview-area" id="visit-preview"></aside>
    </main>
    {% include "./utils/modals/visits_modal.html" with doctor_specialities=doctor_specialities doctors=doctors %}
    {% include "./utils/modals/load_patient-modal.html" %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          
          
            // Set up your table
            // $(`#${document.querySelector("table").id}`).DataTable();
          
            // Signout
            const signoutBtn = document.querySelector('.fa-sign-out');
          
            signoutBtn.addEventListener('click', (event) => {
              window.location.href = "../auth/index.html";
            });

            // load data
            refreshView(1);
        })

        document.querySelector("#create_visit_modal_activator")
          .addEventListener("click", () => triggerCreateVisitModal(data=false))
    
    
    </script>
{% endblock %}