body {
  block-size: 100vh;
  inline-size: 100vw;
  overflow: hidden;
}

button {
  padding: 10px 10px;
  border: 1px solid hsl(0, 0%, 90%);
  justify-content: center;
  justify-items: center;
  transition: background-color 0.2s linear;
  background-color: #fff;
  color: #0072C6;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 14%, 95%);
}

button.accented {
  background-color: #1da1f2;
  color: white;
  padding: 10px 15px;
  border: none;
  color: hsl(0, 0%, 95%);
}
button.accented:hover {
  background-color: hsl(203, 89%, 40%);
}

.departments {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  padding: 0.25rem;
  gap: 0.25rem;
  border: 1px solid lightgray;
  inline-size: 100vw;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #F8F8F8;
}
.departments::-webkit-scrollbar {
  display: none;
}
.departments .department {
  display: grid;
  padding: 10px 20px;
  border: 1px solid hsl(0, 0%, 90%);
  justify-content: center;
  justify-items: center;
  transition: background-color 0.2s linear;
  background-color: #fff;
  color: #0072C6;
}
.departments .department:hover {
  background-color: hsl(0, 14%, 95%);
}
.departments img {
  aspect-ratio: 1;
  block-size: 30px;
}
.departments .department-name {
  font-size: 0.8rem;
  font-weight: 500;
}

.department {
  inline-size: 100px;
}

.department.active {
  background-color: #1da1f2;
  color:#F8F8F8;
}


.department.active:hover {
  background-color: #1da1f2;
  color:#F8F8F8;
}

main {
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 3% 97%;
  padding: 0.5rem;
  gap: 0.5rem;
}
main.split {
  grid-template-columns: 3% 73% 23%;
}
main .sidebar-cta-section {
  background-color: white;
  border: 1px solid hsl(0, 0%, 90%);
  display: grid;
  align-content: flex-start;
  gap: 0.15rem;
}
main .main-content-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr auto;
  gap: 0.5rem;
  align-items: flex-start;
}
main .main-content-area .main-cta-section {
  display: flex;
  grid-auto-flow: column;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: flex-start;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 0.25rem;
}
main .main-content-area .main-cta-section button {
  padding: 5px 10px;
}
main .main-content-area .records-part {
  display: grid;
  background-color: #F8F8F8;
  border: 1px solid hsl(0, 0%, 90%);
}
main .main-content-area .records-part header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-content-area .records-part header .table-title {
  color: #0072C6;
  font-size: 1rem;
  font-weight: 600;
}
main .main-content-area .records-part header form input {
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 5px;
}
main .main-content-area .records-part table {
  overflow: hidden;
  min-inline-size: 100%;
  font-size: 0.9rem;
}
main .main-content-area .records-part .table-pagination button {
  padding: 0.25rem 1rem;
}
main .main-content-area .variable-section {
  display: none;
  border: 1px solid hsl(0, 0%, 90%);
  block-size: 100%;
  align-content: flex-start;
  padding: 0.25rem 0.5rem;
}
main .main-content-area .variable-section.inview {
  display: grid;
  gap: 0.5rem;
}
main .main-content-area .variable-section .variable-section-part {
  display: none;
}
main .main-content-area .variable-section .variable-section-part.inview {
  display: grid;
}
main .main-content-area .variable-section .section_cta_area {
  padding: 0 0 0.25rem 0;
}
main .main-content-area .variable-section .section_cta_area button {
  padding: 5px 15px;
}
main .main-content-area .variable-section .section-form {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1rem 0.5rem;
}
main .main-content-area .variable-section .section-form .cta-area {
  display: grid;
  justify-content: flex-end;
}
main .main-content-area .variable-section .section-form .cta-area .section-form-cta {
  padding: 5px 20px;
}
main .preview-area {
  background-color: white;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
  display: grid;
  align-content: flex-start;
  gap: 1rem;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
}
main .preview-area .img-wrapper {
  display: grid;
  justify-content: center;
}
main .preview-area .img-wrapper img {
  inline-size: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
}
main .preview-area .details {
  display: grid;
  align-content: flex-start;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 0.5rem;
  gap: 0.25rem;
}
main .preview-area .details .detail-group {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
  padding: 0.25rem;
}
main .preview-area .details .detail-group:hover {
  background-color: hsl(0, 0%, 98%);
}
main .preview-area .details .detail-group .part-title {
  font-weight: 500;
}
main .preview-area .cta_area {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}
main .preview-area .cta_area button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e2e9eb;
  border: none;
  outline: transparent;
  cursor: pointer;
}/*# sourceMappingURL=components.css.map */