.date-range-filter{
    justify-content: flex-start;
    margin-block-end: 14px;
}
.date-range-filter .flex{
    gap:14px;
}
.date-range-filter-field {
    padding: 6px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}