<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMIS</title>

    <!-- css -->
    <link rel="stylesheet" href="../../STATIC/css/table.min.css">
    <link rel="stylesheet" href="../../STATIC/themify/icons/themify-icons.css">

    <link rel="stylesheet" href="../../STATIC/css/styles.css">
    <link rel="stylesheet" href="../../STATIC/css/components.css">
    <link rel="stylesheet" href="../../STATIC/css/utils.css">
    <link rel="stylesheet" href="../../STATIC/icons/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- js -->
    <script src="../../STATIC/js/jquery-3.5.1.js"></script>
    <script src="../../STATIC/js/jquery.dataTables.min.js"></script>

    <script src="../../STATIC/js/scripts.js"></script>
</head>
<body>
    <header class="departments">
        <a href="../patients/index.html" class="department">
            <img src="../../STATIC/icons/create-patient.png" alt="">
            <span class="department-name">Patients</span>
        </a>
        <a href="../patients/visits.html" class="department">
            <img src="../../STATIC/icons/visits.svg" alt="">
            <span class="department-name">Visits</span>
        </a>
        <a href="../patients/triage.html" class="department">
            <img src="../../STATIC/icons/triage.png" alt="">
            <span class="department-name">Triage</span>
        </a>
        <a href="../doctor/index.html" class="department">
            <img src="../../STATIC/icons/doctor.png" alt="">
            <span class="department-name">Doctor</span>
        </a>
        <a href="" class="department disabled" disabled>
          <img src="../../STATIC/icons/lab.png" alt="">
          <span class="department-name">Laboratory</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/cardiology.png" alt="">
            <span class="department-name">Cardiology</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/radiology.png" alt="">
            <span class="department-name">Radiology</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/pharmacy.png" alt="">
            <span class="department-name">Pharmacy</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/inventory.png" alt="">
            <span class="department-name">Inventory</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/theatre.png" alt="">
            <span class="department-name">Theatre</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/dental.png" alt="">
            <span class="department-name">Dental</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/appointment.png" alt="">
            <span class="department-name">Appointments</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/invoices.png" alt="">
            <span class="department-name">Invoices</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/finances.png" alt="">
            <span class="department-name">Finances</span>
        </a>
        <!-- <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/finances.png" alt="">
            <span class="department-name">Insurance</span>
        </a> -->
        <a href="../admin/index.html" class="department active">
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Admin</span>
        </a>
    </header>
    <main class="split">
        <aside class="sidebar-cta-section">
            <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section">
                <button class="modal-activators" id="create_patient_modal_activator" data-modal="create_new_user_modal">New Staff</button>
                <button class="modal-activators" id="create_insurance_company_modal_activator" data-modal="create_new_insurance_company_modal">New Insurance</button>
            </div>
            <div class="records-part" id="recent-patients">
                <div class="body">
                  <table id="data-table" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Designition</th>
                            <th>Account Status</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FLH230300</td>
                            <td>Smith Jovnia</td>
                            <td>M</td>
                            <td>Doctor</td>
                            <td>Activated</td>
                            <td>23-04-2022</td>
                        </tr>
                        <tr>
                            <td>FLH230385</td>
                            <td>Grace Sasira Lusuku</td>
                            <td>F</td>
                            <td>Nurse</td>
                            <td>Suspended</td>
                            <td>23-01-2022</td>
                        </tr>
                        <tr>
                            <td>FLH230326</td>
                            <td>Mohamed Shams L.</td>
                            <td>M</td>
                            <td>Doctor</td>
                            <td>Suspended</td>
                            <td>23-04-2023</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Designition</th>
                        <th>Account Status</th>
                        <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
            </div>            
        </section>
        <aside class="preview-area" id="user-preview">
        </aside>
    </main>


    <div class="modal" id="create_new_user_modal">
        <div class="modal-header">
            <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/add.png" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">Register New Staff</h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-section">
            <div class="section-label">
                <small>Personal Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">First Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Middle Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <div class="patient-image flex">
                        <img src="../../STATIC/images/user.png" alt="" />
                    </div>
                    </div>
                </div>
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">National ID No.</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex" style="gap: 20px">
                        <div class="flex flex-column" style="flex: 1">
                            <label for="">Age</label>
                            <input class="input" type="text" />
                        </div>
                        <div class="flex flex-column" style="flex: 2">
                            <label for="">Date of Birth</label>
                            <input class="input" type="date" />
                        </div>
                        </div>
                    <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="gender" class="input">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Staff Number</label>
                    <input class="input" type="text" value="FLHS012356" disabled />
                    </div>
                </div>
                </form>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Contact Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">Phone Number</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Alternative</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Email Address</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Location</label>
                    <input class="input" type="text" />
                    </div>
                </div>
                </form>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Other Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">Staff Title</label>
                    <select name="title" class="input">
                        <option value="anaesthetist">Anaesthetist</option>
                        <option value="anaesthesiologist">Anaesthesiologist</option>
                        <option value="cardiologist">Cardiologist</option>
                        <option value="doctor">Doctor</option>
                        <option value="labTechnologist">Lab Technologist</option>
                        <option value="nurse">Nurse</option>
                        <option value="pathologist">Pathologist</option>
                        <option value="pharmacist">Pharmacist</option>
                        <option value="radiologist">Radiologist</option>
                        <option value="therapist">Therapist</option>
                        <option value="receptionist">Receptionist</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Specialty</label>
                    <select name="specialty" class="input">
                        <option value="gynacology">Gynacology</option>
                        <option value="dentistry">Dentistry</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="generalDoctor">General Doctor</option>
                        <option value="nurse">Nurse</option>
                        <option value="pathology">Pathology</option>
                        <option value="radiology">Radiology</option>
                        <option value="therapy">Therapy</option>
                        <option value="other">Other</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Doctor Specialty</label>
                    <select name="specialty" class="input">
                        <option value="gynacology">Gynacology</option>
                        <option value="dentistry">Dentistry</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="generalDoctor">General Doctor</option>
                        <option value="nurse">Nurse</option>
                        <option value="pathology">Pathology</option>
                        <option value="radiology">Radiology</option>
                        <option value="therapy">Therapy</option>
                        <option value="other">Other</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column" style="visibility: hidden;">
                    <label for="">Home Address</label>
                    <input class="input" type="text" />
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
            </div>
        </div>
    </div>
    <div class="modal" id="create_new_insurance_company_modal">
        <div class="modal-header">
            <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/add.png" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">Register New Insurance</h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-section">
            <div class="section-label">
                <small>Company Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                        <label for="">Company Name</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                        <label for="">Company Email</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                        <label for="">Telephone</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                        <label for="">Website URL</label>
                        <input class="input" type="text" />
                    </div>
                </div>
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                        <label for="">Physical Address</label>
                        <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    </div>
                    <div class="form-control flex flex-column">
                    </div>
                    <div class="form-control flex flex-column">
                    </div>
                </div>                
                </form>
            </div>
            </div>
            <div class="modal-section">
            <div class="section-label">
                <small>Contact Person</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="section-content-row flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">Phone Number</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Alternative</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Email Address</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Location</label>
                    <input class="input" type="text" />
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
            </div>
        </div>
    </div>
    <div class="modal" id="create_user_roles_modal">
        <div class="modal-header">
            <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/add.png" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">User Roles</h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-section">
            <div class="section-label">
                <small>Personal Information</small>
            </div>
            <div class="section-content">
                <form action="">
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">First Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Middle Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex flex-column">
                    <div class="patient-image flex">
                        <img src="../../STATIC/images/user.png" alt="" />
                    </div>
                    </div>
                </div>
                <div class="flex flex-gap-40">
                    <div class="form-control flex flex-column">
                    <label for="">National ID No.</label>
                    <input class="input" type="text" />
                    </div>
                    <div class="form-control flex" style="gap: 20px">
                        <div class="flex flex-column" style="flex: 1">
                            <label for="">Age</label>
                            <input class="input" type="text" />
                        </div>
                        <div class="flex flex-column" style="flex: 2">
                            <label for="">Date of Birth</label>
                            <input class="input" type="date" />
                        </div>
                        </div>
                    <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="gender" class="input">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </div>
                    <div class="form-control flex flex-column">
                      <label for="">Staff Number</label>
                    <input class="input" type="text" value="FLHS012356" disabled />
                    </div>
                </div>
                </form>
            </div>
            </div>
            <div class="modal-section">
                <div class="section-label">
                    <small>Credentials</small>
                </div>
                <div class="section-content">
                    <form action="">
                    <div class="section-content-row flex flex-gap-40">
                        <div class="form-control flex flex-column">
                        <label for="">Username</label>
                        <input class="input" type="text" />
                        </div>
                        <div class="form-control flex flex-column">
                        <label for="">Password</label>
                        <input class="input" type="text" />
                        </div>
                        <div class="form-control flex flex-column" style="visibility: hidden;">
                        </div>
                        <div class="form-control flex flex-column" style="visibility: hidden;">
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            <div class="modal-section">
                <div class="section-label">
                    <small>Can Access</small>
                </div>
                <div class="section-content">
                    <form action="">
                    <div class="section-content-row flex flex-gap-40">
                        <div class="section-content-column" style="flex:1">
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Patients</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                          </div>
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Lab</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                          </div>
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Pharmacy</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                          </div>
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Dental</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                          </div>
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Finance</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                          </div>
                        </div>
                        <div class="section-content-column" style="flex:1">
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Patients</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Lab</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Pharmacy</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Dental</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Finance</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                        </div>
                        <div class="section-content-column" style="flex:1">
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Patients</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Lab</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Pharmacy</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Dental</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Finance</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                        </div>
                        <div class="section-content-column" style="flex:1">
                          <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                            <label for="" style="flex:100%;">Patients</label>
                            <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Lab</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Pharmacy</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Dental</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                            <div class="form-control flex" style="align-items: center;justify-content: space-between;">
                              <label for="" style="flex:100%;">Finance</label>
                              <input class="input" type="checkbox" style="flex:1;border:1px solid purple;"/>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
            </div>
        </div>
    </div>
</body>



<script>
  // Clear user on preview
  const clearUserOnPreview = (user) => {
    const previewArea = document.querySelector("#user-preview");
    const previewContent = "";
    previewArea.innerHTML = previewContent;

  }
  // On page load, clear preview
  clearUserOnPreview();

  // Load user on preview
  const loadUserOnPreview = (user) => {
    const previewArea = document.querySelector("#user-preview");
    const previewContent = `
    <div class="img-wrapper">
        <img src="../../STATIC/images/user.png" alt="">
    </div>
    <div class="details">
        <div class="detail-group">
            <p class="part-title">Staff No.:</p>
            <p class="part-content">${user.id}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Full Name:</p>
            <p class="part-content">${user.name}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">NIN:</p>
            <p class="part-content">CM2REK234423MFC</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Phone No:</p>
            <p class="part-content">+256728463968</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Gender:</p>
            <p class="part-content">${user.gender}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Designition:</p>
            <p class="part-content">${user.designition}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Acc Status:</p>
            <p class="part-content">${user.accountStatus}</p>
        </div>
    </div>
    <div class="cta_area">
        <button onclick="triggerEditUserModal({id:${parseInt(user.id)}})"  class="modal-activators">Update Staff</button>
        <button onclick="triggerUserRolesModal({id:${parseInt(user.id)}})"  class="modal-activators">User Roles</button>
    </div>
    `;
    previewArea.innerHTML = previewContent;

  }

  // Change user on prview
  const userRows = document.querySelector("tbody").querySelectorAll("tr");
  userRows.forEach(userRow => userRow.addEventListener("click", (event) => {
    if(event.target.parentElement.tagName === "TR"){
      const user = {
        id:event.target.parentElement.querySelectorAll("td")[0].textContent,
        name:event.target.parentElement.querySelectorAll("td")[1].textContent,
        gender:event.target.parentElement.querySelectorAll("td")[2].textContent,
        designition:event.target.parentElement.querySelectorAll("td")[3].textContent,
        accountStatus:event.target.parentElement.querySelectorAll("td")[4].textContent
      }
    loadUserOnPreview(user);
    }
  }));


  // Set up your table
  let table = $('#data-table').DataTable();

  // Signout
  const signoutBtn = document.querySelector('.fa-sign-out');

  signoutBtn.addEventListener('click', (event) => {
    window.location.href = "../auth/index.html";
  });
</script>
<script src="../../STATIC/js/modals.js"></script>

</html>