<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMIS</title>

    <!-- css -->
    <link rel="stylesheet" href="../../STATIC/css/table.min.css">
    <link rel="stylesheet" href="../../STATIC/themify/icons/themify-icons.css">

    <link rel="stylesheet" href="../../STATIC/css/styles.css">
    <link rel="stylesheet" href="../../STATIC/css/components.css">
    <link rel="stylesheet" href="../../STATIC/css/utils.css">
    <link rel="stylesheet" href="../../STATIC/icons/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- js -->
    <script src="../../STATIC/js/jquery-3.5.1.js"></script>
    <script src="../../STATIC/js/jquery.dataTables.min.js"></script>

    <script src="../../STATIC/js/scripts.js"></script>

    <style>
      #prescription table input {
        inline-size: 160px;
      }

      /* Report */
      .report {
        font-family: Arial, sans-serif;
        margin: 0 auto;
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      .report h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .report p {
        margin-top: 0;
      }

      .report hr {
        border: none;
        height: 1px;
        background-color: #ccc;
        margin: 20px 0;
      }

      .report table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      .report table th,
      .report table td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
      }

      .report table th {
        background-color: #f7f7f7;
        font-weight: bold;
      }

      .report table td.value {
        font-weight: bold;
      }

      .report table td.comment {
        font-style: italic;
      }
    </style>
</head>
<body>
    <header class="departments">
        <a href="../patients/index.html" class="department">
            <img src="../../STATIC/icons/create-patient.png" alt="">
            <span class="department-name">Patients</span>
        </a>
        <a href="../patients/visits.html" class="department">
            <img src="../../STATIC/icons/visits.svg" alt="">
            <span class="department-name">Visits</span>
        </a>
        <a href="../patients/triage.html" class="department">
            <img src="../../STATIC/icons/triage.png" alt="">
            <span class="department-name">Triage</span>
        </a>
        <a href="../cashier/index.html" class="department">
          <img src="../../STATIC/icons/cashier.png" alt="">
          <span class="department-name">Cashier</span>
        </a>
        <a href="../doctor/index.html" class="department">
            <img src="../../STATIC/icons/doctor.png" alt="">
            <span class="department-name">Doctor</span>
        </a>
        <a href="" class="department disabled" disabled>
          <img src="../../STATIC/icons/lab.png" alt="">
          <span class="department-name">Laboratory</span>
        </a>
        <a href="../doctor/cardiology.html" class="department">
            <img src="../../STATIC/icons/cardiology.png" alt="">
            <span class="department-name">Cardiology</span>
        </a>
        <a href="../doctor/radiology.html" class="department">
            <img src="../../STATIC/icons/radiology.png" alt="">
            <span class="department-name">Radiology</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/pharmacy.png" alt="">
            <span class="department-name">Pharmacy</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/inventory.png" alt="">
            <span class="department-name">Inventory</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/theatre.png" alt="">
            <span class="department-name">Theatre</span>
        </a>
        <a href="../doctor/dental.html" class="department">
            <img src="../../STATIC/icons/dental.png" alt="">
            <span class="department-name">Dental</span>
        </a>
        <a href="" class="department disabled" disabled>
            <img src="../../STATIC/icons/appointment.png" alt="">
            <span class="department-name">Appointments</span>
        </a>
        <a href="../admin/invoices.html" class="department">
            <img src="../../STATIC/icons/invoices.png" alt="">
            <span class="department-name">Invoices</span>
        </a>
        <a href="../admin/pricing.html" class="department active">
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Pricing</span>
        </a><a href="../admin/pricing.html" class="department active">
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Pricing</span>
        </a>
        <a href="../admin/finances.html" class="department">
            <img src="../../STATIC/icons/finances.png" alt="">
            <span class="department-name">Finances</span>
        </a>
        <a href="../admin/insurance.html" class="department">
          <img src="../../STATIC/icons/insurance.png" alt="">
          <span class="department-name">Insurance</span>
      </a>
        <a href="../admin/index.html" class="department">
          <img src="../../STATIC/icons/finances.png" alt="">
          <span class="department-name">Admin</span>
        </a>
    </header>
    <main class="split">
        <aside class="sidebar-cta-section">
            <button class="accented">
                <i class="fa fa-search"></i>
            </button>
            <button class="accented">
                <i class="fa fa-cog"></i>
            </button>
            <button class="accented">
                <i class="fa fa-user"></i>
            </button>
            <button class="accented">
                <i class="fa fa-sign-out"></i>
            </button>
        </aside>
        <section class="main-content-area">
            <div class="main-cta-section" style="display:inline-block">
              <div class="main-cta-section section-content-row flex flex-gap-40" style="gap:6px !important;">
                <div class="form-control flex flex-column">
                  <label for="">Billing Method</label>
                  <select name="method" class="input" style="inline-size: 164px;padding:4px;">
                      <option value="cash">Cash</option>
                      <option value="account">Account</option>
                      <option value="insurance">Insurance</option>
                  </select>
                </div>
                <div class="form-control flex flex-column">
                  <label for="" class="">To Billing Company</label>
                  <select name="company" class="input" style="inline-size: 164px;padding:4px;">
                      <option value="jubilee">Jubilee Insurance</option>
                      <option value="sanlam">Sanlam Life Insurance Uganda</option>
                      <option value="aig">AIG Uganda Limited</option>
                      <option value="britam">Britam Insurance</option>
                  </select>
                </div>
                <div class="form-control flex flex-column">
                </div>
                <div class="form-control flex flex-column">
                </div>
              </div>
            <div class="main-cta-section">
              <button class="accented section-togglers" data-section="tab_00" id="tab_00_toggler" style="inline-size: 164px;">Dental</button>
              <button class="accented section-togglers" data-section="tab_01" id="tab_01_toggler" style="inline-size: 164px;">Laboratory</button>
              <button class="accented section-togglers" data-section="tab_02" id="tab_02_toggler" style="inline-size: 164px;">Cardiology</button>
              <button class="accented section-togglers" data-section="tab_03" id="tab_03_toggler" style="inline-size: 164px;">Radiology</button>
              <button class="accented section-togglers" data-section="tab_04" id="tab_04_toggler" style="inline-size: 164px;">Medicines</button>
              <button class="accented section-togglers" data-section="tab_05" id="tab_05_toggler" style="inline-size: 164px;">Consultations</button>
              <button class="accented section-togglers" data-section="tab_06" id="tab_06_toggler" style="inline-size: 164px;">Others</button>
            </div>
            <section class="variable-section inview" id="tab_00" style="padding: 4px;">
              <div class="records-part" id="tab_table_00">
                <div class="body">
                  <table id="table_00" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_01" style="padding: 4px;">
              <div class="records-part" id="tab_table_01">
                <div class="body">
                  <table id="table_01" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Malaria test</td>
                        <td><input type="text" name="" id="" value="5,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Blood test</td>
                        <td><input type="text" name="" id="" value="15,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Typhoid test</td>
                        <td><input type="text" name="" id="" value="10,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_02" style="padding: 4px;">
              <div class="records-part" id="tab_table_02">
                <div class="body">
                  <table id="table_02" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_03" style="padding: 4px;">
              <div class="records-part" id="tab_table_03">
                <div class="body">
                  <table id="table_03" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_04" style="padding: 4px;">
              <div class="records-part" id="tab_table_04">
                <div class="body">
                  <table id="table_04" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_05" style="padding: 4px;">
              <div class="records-part" id="tab_table_05">
                <div class="body">
                  <table id="table_05" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
            <section class="variable-section" id="tab_06" style="padding: 4px;">
              <div class="records-part" id="tab_table_06">
                <div class="body">
                  <table id="table_06" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Service</th>
                            <th>Fee</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>SER230300</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230301</td>
                        <td>Dental amalgamation</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                      <tr>
                        <td>SER230314</td>
                        <td>Tooth extraction</td>
                        <td><input type="text" name="" id="" value="25,000"></td>
                        <td>24-04-2023</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>Service</th>
                          <th>Fee</th>
                          <th>Created At</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>  
            </section>
         </section>
        <aside class="preview-area" id="patient-preview">
        </aside>
    </main>
</body>


<script src="../../STATIC/js/modals.js"></script>

<script>
  // Clear patient on preview
  const clearPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = "";
    previewArea.innerHTML = previewContent;

  }
  
  // On page load, clear preview
  clearPatientOnPreview();

  // Load patient on preview
  const loadPatientOnPreview = (patient) => {
    const previewArea = document.querySelector("#patient-preview");
    const previewContent = `
    <div class="img-wrapper">
        <img src="../../STATIC/images/user.png" alt="">
    </div>
    <div class="details">
        <div class="detail-group">
            <p class="part-title">Patient No.:</p>
            <p class="part-content">${patient.id}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">First Name:</p>
            <p class="part-content">${patient.name}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Last No.:</p>
            <p class="part-content">Muhumuza</p>
        </div>
        <div class="detail-group">
            <p class="part-title">NIN:</p>
            <p class="part-content">CM2REK234423MFC</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Phone No:</p>
            <p class="part-content">+256728463968</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Birth Place:</p>
            <p class="part-content">Wakiso</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Gender:</p>
            <p class="part-content">${patient.gender}</p>
        </div>
        <div class="detail-group">
            <p class="part-title">Age:</p>
            <p class="part-content">${patient.age}</p>
        </div>
    </div>
    `;
    previewArea.innerHTML = previewContent;

  }

  // Change patient on prview
  const patientRows = document.querySelector("tbody").querySelectorAll("tr");
  patientRows.forEach((patientRow, index) => patientRow.addEventListener("click", (event) => {
    if(event.target.parentElement.tagName === "TR"){
      const patient = {
        id:event.target.parentElement.querySelectorAll("td")[0].textContent,
        name:event.target.parentElement.querySelectorAll("td")[1].textContent,
        age:event.target.parentElement.querySelectorAll("td")[2].textContent,
        visit:event.target.parentElement.querySelectorAll("td")[3].textContent,
        gender:event.target.parentElement.querySelectorAll("td")[4].textContent
      }
      loadPatientOnPreview(patient);
    }
  }))

  // Set up your table
  let tabTable00 = $('#table_00').DataTable();

  let tabTable01 = $('#table_01').DataTable();

  let tabTable02 = $('#table_02').DataTable();

  let tabTable03 = $('#table_03').DataTable();



  // Add new diagnosis items
  function createNextRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const deleteButton = document.createElement('button');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const optionPrice = currentRowOptions[i].dataset.price;
      const option = document.createElement('option');
      option.value = optionValue;
      option.dataset.price = optionPrice;
      option.textContent = optionValue;
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const priceInput = this.parentElement.nextElementSibling.querySelector('input');
      const selectedOption = this.options[this.selectedIndex];
      priceInput.value = selectedOption.dataset.price;
      createNextRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for price to new row
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn2.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn2);

    // Add button for deleting row to new row
    deleteButton.textContent = 'Delete';
    deleteButton.onclick = function() {
      tableBody.removeChild(nextRow);
    }
    nextRowColumn3.appendChild(deleteButton);
    nextRow.appendChild(nextRowColumn3);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }
    

  // Add new prescription items
  function createNextPrescriptionRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const nextRowColumn4 = document.createElement('td');
    const nextRowColumn5 = document.createElement('td');
    const nextRowColumn6 = document.createElement('td');
    const nextRowColumn7 = document.createElement('td');
    const nextRowColumn8 = document.createElement('td');
    const nextRowColumn9 = document.createElement('td');
    const nextRowColumn10 = document.createElement('td');
    const nextRowColumn11 = document.createElement('td');
    const nextRowColumn12 = document.createElement('td');
    const deleteButton = document.createElement('button');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const option = document.createElement('option');
      option.value = optionValue;
      option.textContent = optionValue;
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const selectedOption = this.options[this.selectedIndex];
      createNextPrescriptionRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for dosage to new row
    const nextRowDosage = document.createElement('input');
    nextRowDosage.type = 'text';
    // nextRowDosage.readOnly = true;
    nextRowColumn2.appendChild(nextRowDosage);
    nextRow.appendChild(nextRowColumn2);


    // Add input field for duration to new row
    const nextRowDuration = document.createElement('input');
    nextRowDuration.type = 'text';
    // nextRowDuration.readOnly = true;
    nextRowColumn3.appendChild(nextRowDuration);
    nextRow.appendChild(nextRowColumn3);



    // Add input field for quantity of drug
    const nextRowQunatity = document.createElement('input');
    nextRowQunatity.type = 'text';
    // nextRowQunatity.readOnly = true;
    nextRowColumn4.appendChild(nextRowQunatity);
    nextRow.appendChild(nextRowColumn4);


    // Add input field for drug notes
    const nextRowNotes = document.createElement('input');
    nextRowNotes.type = 'text';
    // nextRowNotes.readOnly = true;
    nextRowColumn5.appendChild(nextRowNotes);
    nextRow.appendChild(nextRowColumn5);


    // Add input field for stock left
    const nextRowStockLeft = document.createElement('input');
    nextRowStockLeft.type = 'text';
    // nextRowStockLeft.readOnly = true;
    nextRowColumn6.appendChild(nextRowStockLeft);
    nextRow.appendChild(nextRowColumn6);

    // Add input field for prescribed qty
    const nextRowPrescribedQty = document.createElement('input');
    nextRowPrescribedQty.type = 'text';
    // nextRowPrescribedQty.readOnly = true;
    nextRowColumn7.appendChild(nextRowPrescribedQty);
    nextRow.appendChild(nextRowColumn7);

    // Add input field for measure
    const nextRowMeasure = document.createElement('input');
    nextRowMeasure.type = 'text';
    // nextRowMeasure.readOnly = true;
    nextRowColumn8.appendChild(nextRowMeasure);
    nextRow.appendChild(nextRowColumn8);

    // Add input field for price
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn9.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn9);

    // Add input field for amount
    const nextRowAmount = document.createElement('input');
    nextRowAmount.type = 'text';
    // nextRowAmount.readOnly = true;
    nextRowColumn10.appendChild(nextRowAmount);
    nextRow.appendChild(nextRowColumn10);

    // Add input field for prescribed by
    const nextRowPrescribedBy = document.createElement('input');
    nextRowPrescribedBy.type = 'text';
    // nextRowPrescribedBy.readOnly = true;
    nextRowColumn11.appendChild(nextRowPrescribedBy);
    nextRow.appendChild(nextRowColumn11);

    // Add button for deleting row to new row
    deleteButton.textContent = 'Delete';
    deleteButton.onclick = function() {
      tableBody.removeChild(nextRow);
    }

    nextRowColumn12.appendChild(deleteButton);
    nextRow.appendChild(nextRowColumn12);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }


  // Add new dental items
  function createNextDentalRow(selectElement) {
    const tableRow = selectElement.parentElement.parentElement;
    const tableBody = tableRow.parentElement;
    const nextRow = document.createElement('tr');
    const nextRowSelect = document.createElement('select');
    const nextRowColumn1 = document.createElement('td');
    const nextRowColumn2 = document.createElement('td');
    const nextRowColumn3 = document.createElement('td');
    const nextRowColumn4 = document.createElement('td');
    const nextRowColumn5 = document.createElement('td');
    const nextRowColumn6 = document.createElement('td');
    const nextRowColumn7 = document.createElement('td');
    const deleteIcon = document.createElement('i');

    // Add empty option
    nextRowSelect.appendChild(document.createElement('option'));

    // Add options from current row
    const currentRowOptions = tableRow.querySelectorAll('option');
    for (let i = 1; i < currentRowOptions.length; i++) {
      const optionValue = currentRowOptions[i].value;
      const option = document.createElement('option');
      option.value = optionValue;
      option.textContent = optionValue;
      nextRowSelect.style.width = "150px";
      nextRowSelect.appendChild(option);
    }

    // Add event listener to new select element
    nextRowSelect.onchange = function() {
      const priceInput = this.parentElement.nextElementSibling.querySelector('input');
      const selectedOption = this.options[this.selectedIndex];
      createNextDentalRow(this);
    }

    // Add select and column to new row
    nextRowColumn1.appendChild(nextRowSelect);
    nextRow.appendChild(nextRowColumn1);

    // Add input field for price to new row
    const nextRowPrice = document.createElement('input');
    nextRowPrice.type = 'text';
    // nextRowPrice.readOnly = true;
    nextRowColumn2.appendChild(nextRowPrice);
    nextRow.appendChild(nextRowColumn2);

    // Add input field for narration to new row
    const nextRowNarration = document.createElement('input');
    nextRowNarration.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn3.appendChild(nextRowNarration);
    nextRow.appendChild(nextRowColumn3);

    // Add input field for narration to new row
    const nextRowNarration2 = document.createElement('input');
    nextRowNarration2.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn5.appendChild(nextRowNarration2);
    nextRow.appendChild(nextRowColumn5);

    // Add input field for narration to new row
    const nextRowNarration3 = document.createElement('input');
    nextRowNarration3.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn6.appendChild(nextRowNarration3);
    nextRow.appendChild(nextRowColumn6);

    // Add input field for narration to new row
    const nextRowNarration4 = document.createElement('input');
    nextRowNarration4.type = 'text';
    // nextRowNarration.readOnly = true;
    nextRowColumn7.appendChild(nextRowNarration4);
    nextRow.appendChild(nextRowColumn7);

    // Add button for deleting row to new row
    deleteIcon.classList.add("ti-trash");
    deleteIcon.onclick = function() {
      tableBody.removeChild(nextRow);
    }

    // Add icon for deleting row to new row
    // deleteIcon.classList.add("ti-trash");
    // deleteButton.appendChild(deleteIcon);

    nextRowColumn4.appendChild(deleteIcon);
    nextRow.appendChild(nextRowColumn4);

    // Add new row to table body
    tableBody.appendChild(nextRow);
  }
  
  

  // Signout
  const signoutBtn = document.querySelector('.fa-sign-out');

  signoutBtn.addEventListener('click', (event) => {
    window.location.href = "../auth/index.html";
  });
</script>
</html>