{% load static  %}
{% block content %}
<section class="variable-section" id="clinical_findings">
  <div class="section_cta_area">
    <button class="section-part-toggler" data-section="general_findings" id="general_findings_activator">General Findings</button>
    <button class="section-part-toggler" data-section="paedeatrics" id="paedeatrics_activator">Paedeatrics</button>
    <button class="section-part-toggler" data-section="gyn" id="gyn_activator">Gyn</button>
  </div>
  <div class="variable-section-part inview" id="general_findings">
    <div class="section-form" style="padding: 0;">
      <form action="" id="general_findings_form">
        <div class="modal-section">
          <div class="section-content" style="block-size: 60vh;;overflow-y:auto;padding: 1rem;">
            <div class="section-content-row" style="display: grid; gap: .5rem 1rem;align-content: flex-start;grid-template-columns: repeat(2, 1fr);padding: .25rem;">
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Presenting Complaints</label>
                  <textarea class="input" cols="100%" rows="3" name="presenting_complaints" id="presenting_complaints"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Clinical Notes</label>
                  <textarea class="input" cols="100%" rows="3" name="clinical_notes" id="clinical_notes"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">ROHS</label>
                  <textarea class="input" cols="100%" rows="3" name="rohs" id="rohs"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">PSH</label>
                  <textarea class="input" cols="100%" rows="3" name="psh" id="psh"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">POH</label>
                  <textarea class="input" cols="100%" rows="3" name="poh" id="poh"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">CVS</label>
                  <textarea class="input" cols="100%" rows="3" name="cvs" id="cvs"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">General Appearance</label>
                  <textarea class="input" cols="100%" rows="3" name="general_appearance" id="general_appearance"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Respiratory</label>
                  <textarea class="input" cols="100%" rows="3" name="respiratory" id="respiratory"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">ENT</label>
                  <textarea class="input" cols="100%" rows="3" name="ent" id="ent"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Abdomen and Gut</label>
                  <textarea class="input" cols="100%" rows="3" name="abdomen_and_Gut" id="abdomen_and_Gut"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">CNS</label>
                  <textarea class="input" cols="100%" rows="3" name="cns" id="cns"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">EYE</label>
                  <textarea class="input" cols="100%" rows="3" name="eye" id="eye"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Muscular Skeletal</label>
                  <textarea class="input" cols="100%" rows="3" name="muscular_skeletal" id="muscular_skeletal"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Skin and Others</label>
                  <textarea class="input" cols="100%" rows="3" name="skin" id="skin"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">PV/PR</label>
                  <textarea class="input" cols="100%" rows="3" name="pv_pr" id="pv_pr"></textarea>
                </div>
                <div class="form-control flex" style="display: grid;gap: .5rem;justify-content: flex-start;">
                  <label for="">Psychological Status</label>
                  <textarea class="input" cols="100%" rows="3" name="psychological_status" id="psychological_status"></textarea>
                </div>
                <div class="form-control grid" style="display: grid;gap: .5rem;grid-column: 1/-1;justify-content: stretch;">
                  <label for="">Provisional Diagnosis</label>
                  <textarea class="input" style="inline-size: 100%;" rows="3" name="provisional_status" id="provisional_status"></textarea>
                </div>
                <div class="form-control grid" style="display: grid;gap: .5rem;grid-column: 1/-1;justify-content: stretch;">
                  <label for="">Treatment Plan</label>
                  <textarea class="input" style="inline-size: 100%;" rows="3" name="treatment_plan" id="treatment_plan"></textarea>
                </div>
            </div>
          </div>
          <div class="modal-section cta-area" style="display: grid; justify-content: space-between; grid-template-columns: repeat(2, 1fr);align-items: baseline;">
            <p id="current_cf_date" style="color: #121213;font-weight: 500;"></p>
            <div style="display: grid; grid-auto-flow: column; gap: .5rem;">
              <button class="accented section-form-cta accented" id="previous_clinical_finding"><i class="fa fa-arrow-left"></i></button>
              <button type="submit" class="accented section-form-cta accented" id="save_clinical_finding">Save</button>
              <button class="accented section-form-cta accented" id="next_clinical_finding"><i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="variable-section-part" id="paedeatrics">
    <div class="section-form">
      <form action="" id="paedeatrics_form">
        <div class="modal-section">
          <div class="section-label">
            <small>Paedeatric Notes</small>
          </div>
          <div class="section-content">
            <div class="section-content-row" style="display: grid; gap: .5rem 1rem;align-content: flex-start;padding: .25rem;">
              <div class="form-control flex flex-column">
                <label for="">Notes</label>
                <textarea class="input" style="inline-size: 100%;" rows="10" name="paedeatric_notes" id="paedeatric_notes"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-section cta-area" style="display: grid; justify-content: space-between; grid-template-columns: repeat(2, 1fr);align-items: baseline;">
          <p id="current_pd_date" style="color: #121213;font-weight: 500;"></p>
          <div style="display: grid; grid-auto-flow: column; gap: .5rem;">
            <button class="accented section-form-cta accented" id="previous_paedeatrics"><i class="fa fa-arrow-left"></i></button>
            <button type="submit" class="accented section-form-cta accented" id="save_paedeatrics">Save</button>
            <button class="accented section-form-cta accented" id="next_paedeatrics"><i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="variable-section-part" id="gyn">
    <div class="section-form">
      <form action="" id="gyn_form">
        <div class="modal-section">
          <div class="section-label">
            <small>Gyn Notes</small>
          </div>
          <div class="section-content">
            <div class="section-content-row" style="display: grid; gap: .5rem 1rem;align-content: flex-start;padding: .25rem;">
              <div class="form-control grid" style="justify-content: stretch;">
                <label for="">Notes</label>
                <textarea class="input" style="inline-size: 100%;" rows="10" name="gyn_notes" id="gyn_notes"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-section cta-area" style="display: grid; justify-content: space-between; grid-template-columns: repeat(2, 1fr);align-items: baseline;">
          <p id="current_gyn_date" style="color: #121213;font-weight: 500;"></p>
          <div style="display: grid; grid-auto-flow: column; gap: .5rem;">
            <button class="accented section-form-cta accented" id="previous_gyn"><i class="fa fa-arrow-left"></i></button>
            <button type="submit" class="accented section-form-cta accented" id="save_gyn">Save</button>
            <button class="accented section-form-cta accented" id="next_gyn"><i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}