{% load static  %}
{% block content %}
<section class="variable-section" id="clinical_findings">
  <div class="section_cta_area">
    <button class="section-part-toggler" data-section="general_findings">General Findings</button>
    <button class="section-part-toggler" data-section="paedeatrics">Paedeatrics</button>
    <button class="section-part-toggler" data-section="gyn">Gyn</button>
  </div>
  <div class="variable-section-part inview" id="general_findings">
    <div class="section-form">
      <form action="">
        <div class="modal-section">
          <div class="section-content" style="border:none;border-radius:0;padding:0;block-size:450px;background-color:rgb(231, 249, 254);overflow-y:scroll;padding:4px 8px">
            <div class="section-content-row flex" style="gap:20px">
              <div class="form-control flex flex-column">
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Presenting complaints</label>
                  <textarea class="input" cols="100%" rows="1"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Clinical notes</label>
                  <textarea class="input" cols="100%" rows="1"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">ROHS</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">PSH</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">POH</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">POH</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
              </div>
              <div class="form-control flex flex-column">
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">General appearance</label>
                  <textarea class="input" cols="100%" rows="1"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Respiratory</label>
                  <textarea class="input" cols="100%" rows="8"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">CVS</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">ENT</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Abdomen & Gut</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">CNS</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
              </div>
              <div class="form-control flex flex-column">
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">General appearance</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Respiratory</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">CVS</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">ENT</label>
                  <textarea class="input" cols="100%" rows="6"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Abdomen & Gut</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">CNS</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="variable-section-part" id="paedeatrics">
    <div class="section-form">
      <form action="">
        <div class="modal-section">
          <div class="section-label">
            <small>Allergies</small>
          </div>
          <div class="section-content">
            <div class="section-content-row grid flex-gap-40">
              <div class="form-control flex flex-column">
                <label for="">Blood Pressure</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Heart Rate</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Respiratory Rate</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Temperature</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Weight(Kg)</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Height(cm)</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">Oxygen Saturation</label>
                <input class="input" type="text" />
              </div>
              <div class="form-control flex flex-column">
                <label for="">MUAC</label>
                <input class="input" type="text" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-section">
          <div class="section-label">
            <small>Signs & Symptoms</small>
          </div>
          <div class="section-content">
            <div class="section-content-row flex">
              <div class="form-control flex flex-column">
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Fill the signs and symptoms from the patient</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-section">
          <div class="section-label">
            <small>Injury Details</small>
          </div>
          <div class="section-content">
            <div class="section-content-row flex">
              <div class="form-control flex flex-column">
                <div class="form-control flex flex-column" style="inline-size: 100%">
                  <label for="">Fill the type, location and severity of injury</label>
                  <textarea class="input" cols="100%" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-section cta-area">
          <button class="accented section-form-cta accented">Save</button>
        </div>
      </form>
    </div></div>
  <div class="variable-section-part" id="medical_conditions">medical_conditions</div>
  </div></div>
  <div class="variable-section-part" id="gyn">gyn</div>
</section>
{% endblock %}