{% extends '../utils/layout.html' %}
{% load static %}
{% block content %}
  <main>
      <aside class="sidebar-cta-section">
          <button class="accented">
              <i class="fa fa-search"></i>
          </button>
          <button class="accented">
              <i class="fa fa-cog"></i>
          </button>
          <button class="accented">
              <i class="fa fa-user"></i>
          </button>
          <button class="accented">
              <i class="fa fa-sign-out"></i>
          </button>
      </aside>
      <section class="main-content-area">
          <div class="main-cta-section">
              <button class="accented section-togglers" data-section="assigned_patients" id="assigned_patients_toggler">Assigned Patients</button>
              <button class="accented section-togglers" data-section="general_doctor" id="general_doctor_toggler">General</button>
              <button class="accented section-togglers" data-section="clinical_findings" id="clinical_findings_toggler">Clinical Findings</button>
              <button class="accented section-togglers" data-section="diagnosis" id="diagnosis_toggler">Diagnosis</button>
              <button class="accented section-togglers" data-section="prescription" id="prescription_toggler">Prescription</button>
              <button class="accented section-togglers" data-section="procedures" id="procedures_toggler">Procedures</button>
              <button class="accented section-togglers" data-section="laboratory_section" id="laboratory">Laboratory</button>
              <button class="accented section-togglers" data-section="theatre" id="theatre_toggler">Theatre</button>
              <button class="accented section-togglers" data-section="dental_lab" id="dental_lab_toggler">Dental Lab</button>
              <button class="accented section-togglers" data-section="eye" id="eye_toggler">Eye</button>
              <button class="accented section-togglers disabled" data-section="cardiology_results" id="cardiology_results_toggler">Cardiology Results</button>
              <button class="accented section-togglers disabled" data-section="radiology_results" id="radiology_results_toggler">Radiology Results</button>
          </div>
          <section class="variable-section inview" id="assigned_patients">
            <div class="records-part" id="recent-patients">
              <div class="body">
                <table id="visitsTable" class="display" style="width:100%;margin-top:.5rem;">
                  <thead>
                    <tr>
                      <th>Patient ID</th>
                      <th>Patient</th>
                      <th>Category</th>
                      <th>Speciality</th>
                      <th>Doctor</th>
                      <th>Complete</th>
                      <th>Visit Date</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    <tr>
                      <th>Patient ID</th>
                      <th>Patient</th>
                      <th>Category</th>
                      <th>Speciality</th>
                      <th>Doctor</th>
                      <th>Complete</th>
                      <th>Visit Date</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>  
          </section>
          {% include './general_details.html' %}
          {% include './clinical_findings.html' %}
          {% include './diagnosis.html' %}
          {% include './prescription.html' %}
          {% include './procedures.html' %}
          {% include './laboratory.html' %}
          {% include './theatre.html' %}
          {% include './dental.html' %}
          {% include './eye.html' %}
          <section class="variable-section" id="cardiology_results">cardiology_results</section>
          <section class="variable-section" id="radiology_results">radiology_results</section>
      </section>
      <aside class="preview-area" id="patient-preview">
      </aside>
  </main>
  
<script src="{% static 'js/doctor/main.js' %}"></script>

{% endblock %}