{% load static  %}
{% block content %}
<section class="variable-section" id="laboratory_section">
  <div class="section_cta_area">
    <button class="section-part-toggler" data-section="lab_results" id="lab_results_activator">Lab Results</button>
    <button class="section-part-toggler" data-section="create_lab_request" id="create_lab_request_activator">Create Lab Request</button>
  </div>
  <div class="variable-section-part inview" id="lab_results">
    <div class="records-part" id="lab_results_table">
      <div class="body">
        <table id="doctor_lab_requests" class="display" style="width:100%;margin-top:.5rem;">
          <thead>
              <tr>
                  <th>Patient Id</th>
                  <th>Visit Id</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Visit</th>
                  <th>Created At</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
  <div class="variable-section-part" id="create_lab_request">
    <div class="request-view">
      <div class="request-body-wrapper">
        <div class="request-view-body">
          <div class="request-column" id="tests-list">
            <header>
              <h3>Select Test</h3>
            </header>
            <form class="test-search-area">
              <input type="text" id="doctor_search_lab_tests_field" placeholder="Search By Test Name" autofocus>
            </form>
            <ul id="request-test-list">
            </ul>
          </div>
          <div class="request-column" id="selected_tests">
            <header>
              <h3>Selected Test</h3>
            </header>
            <ul>
            </ul>
          </div>
          <!-- <div class="request-column" id="selected_test_details">
            <header>
              <h3>Test Narations</h3>
            </header>
            <ul>
            </ul>
          </div> -->
        </div>
        <div class="request-footer-area">
          <div class="summary">
            <p class="test-total"><span id="test_count"></span> Tests Selected</p>
          </div>
          <div class="cta-area">
            <button class="accented" id="place_request_activator">Place request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/doctor/laboratory.js' %}"></script>
{% endblock %}