{% load static %}

<header class="departments">
    <a href="{% url 'patients:patients-home' %}" class="department">
        <img src="{% static 'icons/create-patient.png' %}" alt="">
        <span class="department-name">Patients</span>
    </a>
    <a href="{% url 'patients:patients-visits' %}" class="department">
        <img src="{% static 'icons/visits.svg' %}" alt="">
        <span class="department-name">Visits</span>
    </a>
    <a href="{% url 'patients:patients-triage' %}" class="department">
        <img src="{% static 'icons/triage.png' %}" alt="">
        <span class="department-name">Triage</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/invoices.png' %}" alt="">
        <span class="department-name">invoices</span>
    </a>
    <a href="../doctor/index.html" class="department">
        <img src="{% static 'icons/doctor.png' %}" alt="">
        <span class="department-name">Doctor</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/lab.png' %}" alt="">
        <span class="department-name">Laboratory</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/cardiology.png' %}" alt="">
        <span class="department-name">Cardiology</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/radiology.png' %}" alt="">
        <span class="department-name">Radiology</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/pharmacy.png' %}" alt="">
        <span class="department-name">Pharmacy</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/inventory.png' %}" alt="">
        <span class="department-name">Inventory</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/theatre.png' %}" alt="">
        <span class="department-name">Theatre</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/dental.png' %}" alt="">
        <span class="department-name">Dental</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/appointment.png' %}" alt="">
        <span class="department-name">Appointments</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/finances.png' %}" alt="">
        <span class="department-name">Finances</span>
    </a>
    <a href="" class="department">
        <img src="{% static 'icons/finances.png' %}" alt="">
        <span class="department-name">Finances</span>
    </a>
</header>