{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{view_name}}</title>

    <!-- css -->
    <link rel="stylesheet" href="{%  static 'css/table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'icons/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- js -->
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/state.js' %}"></script>
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/render.js' %}"></script>
    <script defer src="{% static 'js/scripts.js' %}"></script>
    <script defer src="{% static 'js/preview.js' %}"></script>
    <script defer src="{% static 'js/modals.js' %}"></script>

    <!-- htmx -->

</head>
<body>
    {% include "./departments.html" %}
    {% block content %}


    {% endblock %}
</body>


<!-- js -->
</html>