<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="inline-size=device-inline-size, initial-scale=1.0" />
    <title>HMIS</title>

    <!-- css -->
    <link rel="stylesheet" href="../../STATIC/css/styles.css" />
    <link rel="stylesheet" href="../../STATIC/css/components.css" />
    <link rel="stylesheet" href="../../STATIC/css/utils.css" />

    <!-- js -->
    <script src="../../STATIC/js/scripts.js"></script>

  </head>
  <body>
    <header class="departments">
      <a href="" class="department">
        <img src="../../STATIC/icons/create-patient.png" alt="" />
        <span class="department-name">Patients</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/visits.svg" alt="" />
        <span class="department-name">Visits</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/triage.png" alt="" />
        <span class="department-name">Triage</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/invoices.png" alt="" />
        <span class="department-name">invoices</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/doctor.png" alt="" />
        <span class="department-name">Doctor</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/lab.png" alt="" />
        <span class="department-name">Laboratory</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/cardiology.png" alt="" />
        <span class="department-name">Cardiology</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/radiology.png" alt="" />
        <span class="department-name">Radiology</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/pharmacy.png" alt="" />
        <span class="department-name">Pharmacy</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/inventory.png" alt="" />
        <span class="department-name">Inventory</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/theatre.png" alt="" />
        <span class="department-name">Theatre</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/dental.png" alt="" />
        <span class="department-name">Dental</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/appointment.png" alt="" />
        <span class="department-name">Appointments</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/finances.png" alt="" />
        <span class="department-name">Finances</span>
      </a>
      <a href="" class="department">
        <img src="../../STATIC/icons/finances.png" alt="" />
        <span class="department-name">Finances</span>
      </a>
    </header>
    <main style="all: unset">
      <div class="modal">
        <div class="modal-header">
          <div class="flex" style="justify-content: flex-start; gap: 10px">
            <img src="../../STATIC/icons/visits.svg" alt="" style="inline-size: 28px; block-size: 28px" />
            <h3 style="font-size: 20px">Create Visit</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="modal-section">
            <div class="section-label">
              <small>Patient Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">First Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Middle Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column">
                    <div class="patient-image flex">
                      <img src="../../STATIC/images/user.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">National ID No.</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex" style="gap: 20px">
                    <div class="flex flex-column" style="flex: 1">
                      <label for="">Age</label>
                      <input class="input" type="text" />
                    </div>
                    <div class="flex flex-column" style="flex: 2">
                      <label for="">Date of Birth</label>
                      <input class="input" type="date" />
                    </div>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Gender</label>
                    <select name="gender" class="input">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Patient ID</label>
                    <input class="input" type="text" value="MEDT00001" disabled />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Doctor Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">Full Name</label>
                    <select name="fullname" class="input">
                      <option value="Muludiang Emmanuel">Dr. Muludiang Emmanuel</option>
                      <option value="Mugisa Phillip">Dr. Mugisa Phillip</option>
                      <option value="Lorika Mario">Dr. Lorika Mario</option>
                      <option value="Barbra B">Dr. Barbra B</option>
                      <option value="Peter P">Dr. Peter P</option>
                      <option value="Mulondo Caxton">Dr. Mulondo Caxton</option>
                      <option value="Abdoulanziz Ally">Dr. Abdoulanziz Ally</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Doctor ID</label>
                    <input class="input" type="text" value="MEDZ12001" disabled />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Speciality</label>
                    <select name="speciality" class="input">
                      <option value="general">General</option>
                      <option value="padeatrics">Paedeatrics</option>
                      <option value="gynacology">Gynacology</option>
                      <option value="dentist">Dentist</option>
                      <option value="radiology">Radiology</option>
                    </select>
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Home Address</label>
                    <input class="input" type="text" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Visit Time</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex flex-gap-40">
                  <div class="form-control flex flex-column">
                    <label for="">Date</label>
                    <input class="input" type="date" />
                  </div>
                  <div class="form-control flex flex-column">
                    <label for="">Time</label>
                    <input class="input" type="time" />
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Last Name</label>
                    <input class="input" type="text" />
                  </div>
                  <div class="form-control flex flex-column" style="visibility: hidden">
                    <label for="">Relationship</label>
                    <select name="relationship" class="input">
                      <option value="husband">Husband</option>
                      <option value="wife">Wife</option>
                      <option value="brother">Brother</option>
                      <option value="sister">Sister</option>
                      <option value="son">Son</option>
                      <option value="daughter">Daughter</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-section">
            <div class="section-label">
              <small>Other Information</small>
            </div>
            <div class="section-content">
              <form action="">
                <div class="section-content-row flex">
                  <div class="form-control flex flex-column">
                    <div class="form-control flex flex-column" style="inline-size: 100%">
                      <label for="">Visit Reason</label>
                      <textarea class="input" cols="100%" rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-control">
            <img class="cancel" src="../../STATIC/icons/cancel.png" alt="" />
            <img class="save" src="../../STATIC/icons/save.png" alt="" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
