<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="inline-size=device-inline-size, initial-scale=1.0">
    <link rel="stylesheet" href="../../STATIC/themify/icons/themify-icons.css">
    <link rel="stylesheet" href="../../STATIC/css/auth-index.css">
    <title>Med Tech — HMIS</title>
    <script src="../STATIC/js/auth-index.js"></script>
</head>

<body style="background-color: var(--brand-primary-dark);">
    <div class="container flex">
        <div class="auth flex">
            <div class="logo" style="block-size:470px;">
                <img src="../../STATIC/auth-logo/med-tech-hmis-logo.png" alt="">
            </div>
            <div class="wrapper flex" style="background-color:white;block-size:470px;margin:0;padding:14px 40px">
                <div class="auth-card card" style="background-color: var(--brand-primary-light);">
                    <h3 class="auth-card-title flex">Login Form</h3>
                    <form action="" id="signin-form" class="auth-form">
                        <div class="form-control flex">
                            <label for="username">Username</label>
                            <input type="text" name="" id="username" required>
                        </div>
                        <div class="form-control flex">
                            <label for="password">Password</label>
                            <input type="password" name="" id="password" required>
                            <i class="ti-eye"style='color:black'></i>
                        </div>
                        <button type="submit" class="btn" id="signin-btn">Sign In</button>
                    </form>
                    <div id="myProgress">
                        <div id="myBar"></div>
                      </div>
                    <div class="auth-card-actions">
                        <h5 class="forgot-password">Forgotten password?</h5>
                        <h6 class="request-password">Contact admin</h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>